a.add-btn
  background-color: $blue
  border-radius: 5px
  font-weight: $weight-5
  text-transform: uppercase
  &:hover
    background-color: $blue
    border-color: $blue
  &-popover
    z-index: $z-9
  &-nav
    margin: 0 $pad
    padding: $pad
    li a
      font-weight: $weight-9
      color: #000
  +mobile_only
    .text
      display: none


.add-btn
  &-popover
    z-index: $z-9
  &-nav
    a
      font-weight: $weight-7
      color: $black
