.nav-wrapper.admin
  width: 100%
  background: $white
  height: $nav
  position: relative
  border-bottom: 1px solid $border
#sitenav.sitenav.admin
  border: none
  +max-width($desktop)
  margin: 0 auto
  left: 0
  right: 0
  .nav-dropdown
    height: 100%
    padding: $pad $pad*1.5
    color: $white
    position: relative
    display: flex
    align-items: center
    .page-header
      display: flex
      align-items: center
      +mon-font
      .icon
        font-size: $font-large
        +font-smoothing(auto)
  .page-title
    height: 100%
    cursor: pointer
    font-size: $font-base
    +mobile-only
      width: 40%
    &.show
      .nav-dropdown
        background: $text-gray-9
        transition: background 0.3s ease
  .bb-logo
    margin-left: $pad*2
  .header-center
    flex-grow: 2
    margin-left: $pad
    +mobile-only
      margin: $pad/2
    .page-view-by
      &-desktop
        +inline-block
        +mobile-only
          display: none
      &-mobile
        display: none
        +mobile-only
          width: 100%
          +inline-block
  .user-profile
    cursor: pointer

  .org-selector
    width: 80%
    .segmented-group .segmented-group-item-child
      padding: 0
      .Select-control
        border-collapse: collapse
        &:hover
          border-color: transparent
          box-shadow: none
    +mobile-only
      font-size: $font-smaller
      width: 180px

@each $section, $color in $admin-tool-colors
  .sitenav.admin.#{$section}
    .nav-dropdown
      background: $color
      transition: background 0.3s ease
