
.arrow-tab-control

  &-title
    font-size: $font-base
    text-transform: uppercase
    padding: $pad
    padding-top: 0
    text-align: center
    color: lighten($contrast, 10%)

  &-main
    display: flex
    flex-direction: row
    font-size: $font-large+2

  &-arrow
    font-size: $font-largest+6
    color: darken($background, 20%)
    display: inline-block
    cursor: pointer
    align-self: center

  &-left
    transform: rotateZ(180deg)

  &-active
    padding: 0 $pad
    font-weight: $weight-7
    color: $contrast
    flex-grow: 1
    text-align: center

  .disabled
    opacity: 0.5