.bb-toolbar-group
  display: flex
  .text-button
    display: flex
    align-items: center
    .icon
      margin-right: $pad/2
      font-size: 110%
  +mobile-only
    justify-content: space-around
    width: 100%
