.bb-file-detail
  word-break: break-word
  font-size: $font-large

  .subtitle
    margin-top: $pad/2
    font-size: $font-smaller
    color: $text-gray-5

  &.base
    font-size: $font-base
    .links
      padding: 0 1px
    .subtitle
      margin-top: $pad/4
      font-size: $font-smallest
