$bb-pill-button-size: 30px

.bb-pill-button
  background: none
  color: $white
  border-radius: 100px
  border: 2px solid $white
  height: $bb-pill-button-size
  width: $bb-pill-button-size
  display: flex
  align-items: center
  justify-content: center
  transition: all 0.5s ease
  font-size: $font-small
  line-height: 0
  outline: none
  &:hover
    color: $text-gray-1
  &.dark
    color: $text-gray-7
    border-color: $text-gray-3
    &:hover
      color: $text-gray-7
  @each $name, $color in map-merge($app-colors, (blue : $blue))
    &.#{$name}
      &:hover
        border-color: $color
      &.selected
        color: $white
        border-color: $color
        background-color: $color
        &:hover
          border-color: darken($color, 5%)
          background-color: darken($color, 5%)
