
.bb-card
  background: white
  width: 100%
  position: relative

  &.hoverable
    +transition-property(all)
    +transition-duration(0.15s)
    +transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1))

.bb-card-rounded
  border-radius: 4px

.bb-card-rounded-top
  border-top-left-radius: 4px
  border-top-right-radius: 4px

.bb-card-depth-1
  box-shadow: 0 1px 2px alpha-it($black, $opacity-weakest)

.bb-card-depth-2
  box-shadow: 0 1px 4px alpha-it($black, $opacity-weaker)

.bb-card-depth-3
  box-shadow: 0 2px 4px alpha-it($black, $opacity-weak)

.bb-card-depth-4
  box-shadow: 0 2px 5px alpha-it($black, $opacity-base)

.bb-card-depth-5
  box-shadow: 0 2px 6px alpha-it($black, $opacity-strong)

.bb-card-hover-depth-1:hover
  box-shadow: 0 1px 4px alpha-it($black, $opacity-weaker)

.bb-card-hover-depth-2:hover
  box-shadow: 0 2px 4px alpha-it($black, $opacity-weak)

.bb-card-hover-depth-3:hover
  box-shadow: 0 2px 5px alpha-it($black, $opacity-base)

.bb-card-hover-depth-4:hover
  box-shadow: 0 2px 6px alpha-it($black, $opacity-strong)

.bb-card-hover-depth-5:hover
  box-shadow: 0 2px 6px alpha-it($black, $opacity-stronger)
