
// TODO: move to styles
// Seems like an organism

.check-list
  $check-item-height: 25px
  +user-select-none
  +inline-block
  text-align: left
  +onboarding-section-width

  .item:first-child
    border-top: 1px solid rgba(255,255,255, 0.5)
  // --
  // TODO: This is an atom. change to "check-list-item"
  // --
  .item
    border-bottom: 1px solid rgba(255,255,255, 0.5)
    display: block
    cursor: pointer
    transition: background .3s ease
    line-height: initial

    &.item-normal
      padding: $pad $pad*1.5
      input[type=checkbox]
        ~ .item-content
          font-size: $font-large

    &.item-small
      padding: $pad/2
      input[type=checkbox]
        ~ .item-content
          font-size: $font-base

    &.item-smaller
      padding: $pad/3
      input[type=checkbox]
        ~ .item-content
          font-size: $font-small

    &:hover
      background: rgba($contrast, 0.1)

    input[type=checkbox]
      margin-right: $pad
      width: $check-item-height
      height: $check-item-height

      ~ .item-content
        line-height: $check-item-height
        font-weight: $weight-9
        letter-spacing: $spacing-tighter
        vertical-align: top

    &.active
      background: $success
      &:hover
        background: $success

  &-light
    .item
      input[type=checkbox]
        border: 1px solid hsla(0, 0%, 100%, .5)
        background: none
        ~ .item-content
          color: $white

  &-dark
    .item
      input[type=checkbox]
        border: 1px solid rgba($contrast, .5)
        background: $white
        color: $contrast
        ~ .item-content
          color: $contrast
      &.active
        input[type=checkbox]
          ~ .item-content
            color: $white
