.collection-header
  +background_cover

  &-action
    display: inline-block
    margin-left: $pad
    border-width: 2px

  &-overlay
    padding: $pad*6 0 $pad*6
    background: rgba(black, 0.45)
    color: white
    overflow: hidden
    .contain
      width: $reading_width
      margin: 0 auto
      +media_max_width($reading_width)
        width: auto
        margin: 0 $pad

  &-mc
    float: right
    +min_height($collection-curator-avatar)
    padding: $pad
    cursor: pointer
    position: relative
    z-index: 1
    &-label
      background: $info
      padding-bottom: 3px
      color: black
      &-text
        text-transform: uppercase
        font-size: $font-smallest
        text-align: center
        margin-left: $pad/2
        font-weight: $weight-6
        letter-spacing: $spacing-normal
        color: rgba(black,0.7)
      &-icon
        color: black
        margin-left: $pad*2.5
        font-size: $font-large
        -webkit-font-smoothing: auto
        -moz-osx-font-smoothing: auto
    .mc-badge
      margin: 0
      display: block
      text-align: center
      &-icon
        float: none
        display: inline-block
      &-text
        display: inline-block
        margin-top: 1px
        vertical-align: text-top
    &-link
      color: rgba(white, 0.9)
      font-size: $font-small - 1px
      text-align: center
      +mon-font
      font-weight: $weight-4
      cursor: pointer
      border-bottom: 2px solid $tip
      padding-bottom: 3px
      display: inline-block
      margin-top: $pad
      &:hover
        color: white

  .edit-link
    margin: 0 $pad 0 0
    float: left

  &-error.bb-prompt
    .headline
      color: $white

  // Move to subjects atom
  &-grades-subjects
    margin-bottom: $pad/2
    min-height: $pad*2.5
    & > div
      float: left

  .expanding-label-container
    display: inline
    margin-right: $pad


  // Collection Title Atom
  &-title
    $font-size: $font-jumbo + 7px
    letter-spacing: $spacing-tight
    font-size: $font-size
    line-height: $font-size
    margin-bottom: $pad
    display: block
    color: #fff
    +transition(0.12)
    +text-shadow(rgba(black, 0.3) 0 1px 5px)
    +serif
    &:hover
      cursor: default
      text-decoration: none
      color: $white

    .inline-edit-form
      .edit-inline
        textarea
          +serif
          font-size: $font-size
          line-height: $font-size
          +placeholder
            font-size: $font-size
            line-height: $font-size
      .edit-inline-activate
        text-shadow: none
        font-size: $font-base

  .inline-edit-form
    .field
      textarea
        color: $white
        +placeholder
          color: $white

  .edit-inline
    label
      display: none
    textarea
      +textarea-input-styles-clear
      +placeholder
        letter-spacing: 0
      width: 95%
      float: right
      +mobile-only
        width: 86%
        margin-right: 4%
    &-activate
      +mobile-only
        float: left
    &.edit
      textarea
        background: alpha-it($white, $opacity-weakest)
        float: none
        width: 100%
        padding: $pad

  // Collection Description Atom
  &-description
    display: block
    color: rgba(white, 0.8)
    margin-bottom: $pad*2

  &.edit
    .collection-header
      &-grades-subjects
        .grade
          margin-right: $pad
      &-meta
        &-curators
          left: $pad*4
          +mobile-only

        .edit-link
          float: left
          margin-top: $pad*2.5


  &-meta
    +mobile-only
      display: block
      padding: 0 $pad
    section:last-child
      border-top: 1px solid alpha-it($white, $opacity-weaker)
      margin-top: $pad
      padding-top: $pad*2
      text-align: center
      & > div
        float: left
        width: 50%
      & > a
        float: left
    &-curators
      position: relative
      height: $collection-curator-avatar + $pad/2
      &-avatar
        +background_cover
        width: $collection-curator-avatar
        height: $collection-curator-avatar
        display: block
        top: 0
        left: 0
        +border-radius($collection-curator-avatar)
        border: 2px solid white
        position: absolute
      &-users
        +inline-block
        margin-left: ($collection-curator-avatar + $pad)
        padding-top: $pad * 1.5
        small
          display: block
          +trans-up
          letter-spacing: $spacing-normal
          color: rgba(white, 0.52)
          font-size: $font-smaller
        a, div
          color: $white
          font-size: $font-large
          letter-spacing: $spacing-tight
          +transition(0.12)
          +mon-font
          &:hover
            +transition(0.12)
            color: $tip

  &-updating
    &-cover
      display: block
      text-align: right
      margin-top: $pad*3
      .loading-default.sk-spinner
        width: $pad*2
        height: $pad*2
        float: right
        margin-left: $pad*2

  &-edit
    display: flex
    text-align: center
    margin: $pad*2.5 0 0 0
    padding: $pad*2.5 0 0 0
    border-top: 1px solid rgba(255,255,255, 0.3)
    &-cover
      margin: $pad/2 $pad*2 0 0
      flex: 1
      +mobile-only
        margin-top: 0
        margin-bottom: $pad*3
        text-align: center

    &-btn
      margin: 0 30% 0 0
      text-align: left
      cursor: pointer


  &-nav-actions
    width: 100%
    margin: 0 0 $pad*4 0
    background: white
    border-bottom: 1px solid $collection-resource-border
    +mobile-only
      margin-bottom: 0
    .collection-header-actions
      font-size: $font-large
      +transition(0.09)
      margin: 0 auto
      width: $reading_width
      display: flex
      align-items: center
      +mobile-only
        flex-direction: column
        width: 100%
      .collection-actions
        text-align: right
        padding: $pad/2
        flex-grow: 1
        .btn-gray
          margin-left: $pad
          color: $text-gray-6
          border: 2px solid #e6e6e6
    a.collection-header-action.btn-text
      color: rgba(0,0,0,0.5)
      &:hover
        color: rgba(0,0,0,0.5)
        border: 2px solid rgba(0,0,0,0.3)
        +transition(0.09)
    a.collection-header-action.btn-text.selected
      color: white


  &.new, &.creating, &.success
    +modal-fullscreen
    +transition-property(bottom)
    +transition-duration(.75s)
    +transition-timing-function(ease-in)
    .collection-header-overlay
      +modal-fullscreen
      .contain
        text-align: center
    label
      & > span:first-child
        +offscreen
    textarea
      box-shadow: none
      border: none
      background: transparent
      color: #fff
      padding: 0
      margin: 0
      width: 100%
      +placeholder
        color: #fff
        text-transform: none
    h1
      margin: 10% 0 $pad/2 0
      textarea
        +serif
        line-height: $font-largest * 2
        font-size: $font-largest * 2

        +placeholder
          font-size: $font-largest * 2
          line-height: $font-largest * 2
          +mobile_only
            font-size: $font-largest
            line-height: $font-largest

        +mobile_only
          font-size: $font-largest
          line-height: $font-largest
          padding: 0 $pad

    .new-collection-save-btn
      margin: $pad*5 auto 0 auto
      text-align: center
      font-size: $font-largest
      opacity: 0.8
      padding-left: $pad*7
      padding-right: $pad*7
      &:focus, &:hover
        opacity: 1
      +mobile_only
        width: 95%
        padding-left: $pad*5

  &.success
    bottom: 60%

  // Mobile / Responsive
  +mobile-only
    &-overlay
      margin-bottom: 0
      padding-top: $pad*8
      padding-bottom: $pad*2
      .contain
        margin: 0
    &-title
      font-size: $font-larger
      line-height: $font-larger
    &-description
      font-size: $font-small
    &-grades-subjects, &-title, &-description
      margin: 0 $pad $pad*2 $pad
      display: block
    &-grades-subjects
      & > div
        float: none

    &-meta
      margin-top: $pad*2
      &-curators
        float: none
        margin-left: $pad
        margin-right: $pad
        margin-bottom: $pad*2
        &-avatar
          width: ($collection-curator-avatar - $pad*1.5)
          height: ($collection-curator-avatar - $pad*1.5)
        &-users
          margin-left: $collection-curator-avatar
          small
            font-size: $font-smaller
          a
            font-size: $font-small
    &-actions
      float: none
      width: 100%
      text-align: center
      border-top: 1px solid rgba(black, 0.5)
      padding-left: 0
      padding-right: 0
    &-action.btn-text
      padding-top: $pad*2
      padding-bottom: $pad*2
      // padding-left: $pad
      // padding-right: $pad
      // font-size: 90%
      // margin-left: $pad/3
      // margin-right: $pad/3
