$ci-class: "item"
$card-padding: $pad*1.5
$card-quote-offset: 4px

@import collection-items/index


// COLLECTION ITEMS
.collection-items
  width: $reading_width
  margin: 0 auto
  +media_max_width($reading_width)
    width: auto
  ul
    @import collection-items/old-article
  @each $type in $collection-item-types
    .collection-item-resource-#{$type}
      position: relative
  .collection-item-curator
    margin-bottom: $pad*2
