.collection-wide-card
  position: relative
  min-height: 140px

  &-anchor
    height: 100%
    width: 100%
    position: absolute
    z-index: $z-1

  &-overlay
    height: 100%
    width: 100%
    position: absolute
    z-index: $z-3
    top: 0
    pointer-events: none
    > *
      pointer-events: all

  &-card
    padding: $pad * 2 $pad

  &-text-container
    margin-left: 110px
    +mobile-only
      margin-left: 50px + ($pad * 2)

  &-title
    font-size: $font-large
    font-weight: $weight-9
    +mobile-only
      font-size: $font-base

  &-description
    margin-top: $pad
    font-size: $font-small
    +mobile-only
      margin-top: $pad /2

  &-img-container
    position: absolute
    height: 100px
    width: 100px
    +mobile-only
      height: 50px
      width: 50px

  &-placeholder-container
    padding-top: 58px


  &-actions-container
    margin-top: $pad * 1.5
    z-index: $z-2
    position: relative
    pointer-events: none
    > *
      pointer-events: all

    .type-vertical-aligner
      display: inline-block
      padding: 0.15em

  &-img
    display: inline-block
    width: 100%
    height: 100%
    background-position: center
    background-size: cover
    border-radius: 5px

  &-metadata
    font-size: $font-smaller
    margin-bottom: $pad
    +mobile-only
      margin-bottom: $pad / 2

  &-type
    font-size: $font-smaller
    font-weight: bold
