
.icon-tile
  color: white
  cursor: pointer
  display: inline-block
  text-align: center
  &-icon
    font-size: $font-jumbo
    padding-bottom: $pad
  &-title
    font-weight: $weight-9
    font-size: $font-large + 4px
    padding-bottom: $pad/3
  &-subtitle
    color: rgba(white, 0.6)
