
.initiative-title
  position: relative
  .initiative-title-close
    position: absolute
    right: $pad*2
    top: $pad
    font-size: $font-large
  .initiative-title-textarea
    background: none
    border: none
    +placeholder
      +initiative-title
      color: $text-gray-7
    &:focus
      box-shadow: none

  .initiative-title-hint
    font-weight: $weight-7
    color: $text-gray-5
    font-size: $font-base

  .initiative-title-title
    color: $text-gray-7
    +initiative-title
    line-height: $font-jumbo + 8
    padding: 0
    margin: $pad $pad*4
    width: calc(100% - #{$pad*4*2})
    letter-spacing: 0
    word-break: break-word
    +mobile-only
      font-size: $font-large
      line-height: initial
      margin: $pad 0

  .error
    color: $error
