.invite-view-controller
  .login-view-sign-in
    .signin-form
      .forgot
        display: none
      +mobile-only
        h1
          position: static
          font-size: $font-larger

  .invite-error
    font-size: $font-largest
    .icon
      font-size: $font-jumbo * 2
    .error-btn
      margin-top: $pad*2