.list-view-item
  width: 100%
  float: left
  border: 1px solid transparent
  border-bottom: 1px solid $border
  padding: $pad
  transition: all 0.2s ease-in-out
  display: flex
  .item-middle
    flex-grow: 1
    min-width: 0
    margin: 0 $pad
    .item-text
      float: left
      padding: $pad/2 0
      width: 100%
      .item-main-text
        +mon-font
        font-size: $font-large
        +text_truncate
        +inline-block
        width: 100%
        +mobile_only
          font-size: $font-base
      .item-sub-text
        color: $text-gray-5
        +text_truncate
        +inline-block
        width: 100%
        +mobile_only
          font-size: $font-small
          margin-top: 0

  .item-left
    margin-left: $pad
    .item-image
      width: $nav
      display: block
      float: left
    .item-color-bar
      float: left
      width: $pad
      height: $nav
    +topic-backgrounds

  .item-right
    text-align: right
    .item-meta-text
      white-space: nowrap
      color: $text-gray-5
      padding: $pad*1.5 $pad
      +inline-block
      +mobile_only
        font-size: $font-small
    .item-action-button
      opacity: 0
      display: none

  &.hoverable:hover
    background: $white
    cursor: pointer
    border-left: 1px solid $border
    border-right: 1px solid $border
    .item-meta-text
      opacity: 0
      display: none
      +mobile_only
        +inline-block
        opacity: 1
    .item-action-button
      opacity: 1
      +inline-block
      padding: 0 $pad
      .icon
        font-size: $font-largest
        color: $tip
        display: block
      .icon-label
        display: block
        font-size: $font-smaller
        margin-top: -($pad*1.5)
        text-align: center
        color: $text-gray-5
      +mobile_only
        display: none
