$form-width: 500px

.signup-form, .signin-form, .forgot-password-form
  text-align: center
  width: $form-width
  margin: 0 auto
  padding-top: 10%
  h1
    margin-bottom: $pad*4
    font-size: ($font-largest + 7px)
    letter-spacing: $spacing-tight
    font-weight: 400
    color: white
  .switch, .forgot, .cancel
    color: #fff
    a
      font-size: $font-size
      font-weight: $weight-7
      margin-left: $pad/2
      border-bottom: 3px solid $tip
      color: #fff
  .switch
    &.signin
      font-size: $font-size
    &.signup
      font-size: $font-size
      position: fixed
      text-align: center
      width: 100%
      bottom: 10px
      left: 0px

  +mobile-only
    width: auto
    margin: 0 $pad

    & > div:first-of-type
      margin-top: $pad*4
    h1
      font-size: $font-larger
      position: absolute
      top: 0

#sso-form
  margin-top: 3 * $pad
