// $submission: bool - whether the card type is submission or not (i.e. profile page)
// $col: int - susy gallery column width
// $mcol: int - susy gallery mobile column width
// $grid: int - susy gallery number of grid columns

// Dependency problem here. Mixins and Variables that are more global should be moved to the mixins folder. This way they are included and ready when atoms, molecules, and organisms request them

$cardHeight : 220px

=microcredential-card
  +resource-card-save-button
  height: 100%
  width: 100%
  position: relative
  &-inaccessible
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: $purple
    opacity: 0.9
    color: white
    border-radius: 3px
    .icon
      display: block
      text-align: center
      font-size: 80px
      margin-top: $pad * 3
    .sub-text
      display: block
      margin: 10px 20px
      font-weight: $weight-8
      text-align: center
  &-ceu
    +card-label
    position: absolute
    left: 2px
    z-index: $z-1
    padding: 0 $pad/2
    margin-top: 0
    top: $pad
  &-content
    padding: $pad * 2 $pad * 2 0 $pad * 2
    height: 100%
    position: relative
    border: 2px solid $border
    background: white
    border-radius: 4px
    &:hover
      border-color: darken($border, 10%)
  &-image img
    width: 60%
    height: 60%
    display: block
    float: none
    margin: $pad * 2 auto
    +media_max_width(500px)
      width: $pad*13
      height: auto
  &-info
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    .title h2
      +card-title($dark: true)
      cursor: pointer
      margin: $pad/2 $pad*2 $pad $pad*2
    .status
      text-align: center
      width: 100%
      +border-bottom-radius(3px)
      font-size: $font-smaller
      padding: $pad / 2
      font-weight: $weight-9
      &.started
        color: white
        background: #b2b2b2
      &.pending
        color: white
        background: #F59525
      &.awarded
        color: #b2b2b2
        .icon
          margin: $pad/2
          font-size: $font-small
      &.denied
        color: #b2b2b2
        .icon
          margin: $pad/2
          font-size: $font-smaller

=browse_mc_card($col: 6, $mcol: 12, $grid: 12)
  border: 2px solid darken($border, 10%)
  background: darken($border, 5%)
  border-radius: 4px
  margin-bottom: $pad
  display: table
  +gallery($col of $grid)
  +media_max_width(500px)
    +gallery($mcol of $grid)
    float: none
  &-container
    cursor: pointer
    display: table-cell
    vertical-align: middle
    p
      text-transform: uppercase
      color: darken($border, 20%)
      +mon_font
      text-align: center
      margin: 0
  &:hover
    border-color: darken($border, 15%)

//Molecule
.microcredential-card
  +microcredential-card


.microcredential-card-placeholder.microcredential-card
  pointer-events: none
  background-color: $text-gray-5 !important
  .microcredential-card-image
    background-color: $text-gray-3
    min-height: 100px
  .microcredential-card-content
    background: transparent
  .microcredential-card-info
    .title
      color: $text-gray-1 !important
      text-shadow: none
      p
        color: $text-gray-1 !important
        background-color: $text-gray-1
      h2
        color: $text-gray-1 !important
        background-color: $text-gray-1
    .description
      color: $text-gray-1 !important
      text-shadow: none
      background-color: $text-gray-1
  .microcredential-card-meta
    margin: $pad/2
    text-shadow: none
    background-color: $text-gray-1
    color: $text-gray-1 !important
    a
      color: $text-gray-1 !important
  .save-button
    display: none
  .status
    display: none
