.bb-modal
  z-index: $z-5
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0

  div:focus
    outline: none

  .modal-backdrop
    position: fixed
    top: 0
    right: 0
    left: 0
    bottom: 0
    background: rgba(black, $opacity-strong)
    z-index: -1

  .background-white
    background: $white

  &-fullscreen
    +modal-fullscreen

  &-dialog-large
    +modal-dialog-large

  &-dialog-base
    +modal-dialog-base

  &-auto-large
    +mobile-only
      +modal-fullscreen
    +tablet-and-above
      +modal-dialog-large

  &-auto-base
    +mobile-only
      +modal-fullscreen
    +tablet-and-above
      +modal-dialog-base

=modal-headline
  +oswald
  font-size: $font-larger
  color: $text-gray-8
  padding: $pad*3 0
  border-bottom: 1px solid $border
  margin: 0 0 $pad*3
  text-align: center
  +transition
  +mobile-only
    padding: $pad*3.5 0
    font-size: $font-base
    text-align: left
    text-indent: $pad


.modal-headline
  +modal-headline
