.bb-page-header
  padding-top: $pad*8
  padding-bottom: $pad*8
  background: $text-gray-1
  width: 100%
  background-size: cover

  @each $name, $color in $app-colors
    &-#{$name}
      background-color: $color
      
