.pagination-control
  ul.btn-collection
    display: inline-block
    border: 1px solid $text-gray-5
    border-radius: 3px
    li
      +user-select-none
      transition: all 0.1s ease-in-out
      display: inline-block
      padding: $pad/2 $pad
      border-right: 1px solid $text-gray-5
      font-size: ($font-smaller)+1
      font-weight: $weight-6
      color: $blue
      +mobile_only
        &.page-number
          display: none
      &:hover
        background: $blue
        color: white
        cursor: pointer
      &.selected
        background: $blue
        color: white
      &:last-child
        border-right: none
      &.disabled
        color: $text-gray-5
        &:hover
          cursor: default
          background: transparent
