
.bb-question
  background: white
  position: relative
  .main
    cursor: pointer
    color: white
    transition: background 300ms ease-in-out

  .question-header
    padding: $pad
    text-align: right
    .delete-btn
      background: none
      color: white
      margin-left: $pad
      border: 2px solid transparent
      &:hover
        border: 2px solid white

  .user-link
    color: white
    &:hover
      color: $tip
  .avatar-link
    &:hover
      border-color: $tip

  .user-section
    padding: $pad
    padding-top: $pad*2
    text-align: center

    .user-name
      font-family: $montserrat
      padding-top: $pad

    .user-summary
      padding-top: $pad/2
      opacity: 0.65

  .question-section
    padding: $pad*3 $pad*4
    padding-top: 0
    text-align: left
    +mobile-only
      padding: $pad*3 $pad
      padding-top: 0
    .question-title
      opacity: 0.5
    .question-text
      white-space: pre-wrap
      font-size: $font-largest
      +mobile-only
        font-size: $font-large

  .question-header-child
    +user-select-none
    text-align: left
    padding: $pad*2 $pad*4
    padding-top: 0
    +mobile-only
      padding: $pad*2 $pad
      padding-top: 0

  .open-arrow
    width: 0
    height: 0
    position: absolute
    margin-left: $pad*4
    border-left: $pad*2 solid transparent
    border-right: $pad*2 solid transparent

  .question-child
    overflow: auto

.bb-question-tip
  .main
    background: $blue-3
  .open-arrow
    border-top: $pad*1.5 solid $blue-3

.bb-question-pink
  .main
    background: $red-3
  .open-arrow
    border-top: $pad*1.5 solid $red-3

.bb-question-purple
  .main
    background: $purple-1
  .open-arrow
    border-top: $pad*1.5 solid $purple-1

.bb-question-green
  .main
    background: $green-3
  .open-arrow
    border-top: $pad*1.5 solid $green-3

.bb-question-orange
  .main
    background: $orange-1
  .open-arrow
    border-top: $pad*1.5 solid $orange-1
