@mixin generate-search-card($class)

  .#{$class}-search-card
    position: relative
    min-height: 150px
    padding: $pad * 2 0

    + .#{$class}-search-card
      border-top: 2px solid $background

    &:last-child
      padding-bottom: 0

    &-text-container
      margin-left: 120px
      +mobile-only
        margin-left: 50px + ($pad * 2)

    &-title
      font-size: $font-large
      font-weight: $weight-9
      +mobile-only
        font-size: $font-base

    &-description
      margin-top: $pad * 2
      font-size: $font-small
      +mobile-only
        margin-top: $pad

    &-img-container
      position: absolute
      height: 100px
      width: 100px
      +mobile-only
        height: 50px
        width: 50px

    &-actions-container
      margin-top: 15px

      .type-vertical-aligner
        display: inline-block
        padding: 0.15em

    &-img
      display: inline-block
      width: 100%
      height: 100%
      background-position: center
      background-size: cover
      border-radius: 5px

    &-metadata
      font-size: $font-smaller
      margin-bottom: $pad / 2
      +mobile-only
        margin-bottom: $pad / 4

    &-type
      font-size: $font-smaller
      font-weight: bold
      text-transform: capitalize
