// TODO: refactor/move to its own feature
.Select
  .invite-user-option
    display: flex
    align-items: center

    .profile-info-avatar
      display: inline-block
      width: 30px
      height: 30px
      margin-right: $pad/2
      border-radius: 100px


//    emulate react-select style for a regular select tag element
.react-select-style
  padding-left: $pad
  background-color: $white
  border-radius: $card-border-radius
  border: 2px solid $text-gray-2
  color: $contrast
  height: 44px
  outline: none
  overflow: hidden
  position: relative
  width: 100%
