.sharer
  text-align: center
  .share-buttons
    margin: $pad
    .share-button
      margin: 0 $pad*2
    .gmail-share-button
      +mobile-only
        display: none
  .share-link
    width: 85%
    margin: 0 auto
    cursor: pointer
    color: darken($background, 30)
    input
      cursor: pointer
      color: darken($background, 30)
  .sharer-notification
    color: $success
    font-weight: $weight-7
    height: $pad*2
    margin-top: $pad/2