=space-theme-circle($color)
  width: 20px
  height: 20px
  background-color: $color
  border-radius: 100px

.simple-space-list-item
  text-align: initial
  padding: $pad/2
  border-top: 2px solid $text-gray-5
  &:last-of-type
    border-bottom: 2px solid $text-gray-5
  &:hover
    background-color: $yellow

  .item-section
    margin: 0
    padding: $pad

  a
    color: inherit

  .space-theme-circle
    &-1
      +space-theme-circle($tip)
    &-2
      +space-theme-circle($success)
    &-3
      +space-theme-circle($highlight)
    &-4
      +space-theme-circle($contrast)
    &-5
      +space-theme-circle($error)
    &-6
      +space-theme-circle($purple)
    &-7
      +space-theme-circle($main)

.simple-space-list-header
  text-align: initial
  pointer-events: none
  cursor: default

  .section-heading
    margin-bottom: $pad/2

  .space-theme-circle
    &-1
      +space-theme-circle($tip)
    &-2
      +space-theme-circle($success)
    &-3
      +space-theme-circle($highlight)
    &-4
      +space-theme-circle($contrast)
    &-5
      +space-theme-circle($error)
    &-6
      +space-theme-circle($purple)
    &-7
      +space-theme-circle($main)

