.space-file-list-item
  background-color: $white
  display: flex
  position: relative
  align-items: center
  padding: $pad*2
  font-size: $font-large
  border: 1px solid $text-gray-3
  +mobile-only
    font-size: $font-base

  & + &
    border-top: none

  .file-icon
    flex-shrink: 0
    margin-right: $pad*3

  .details-container
    .filename
      margin-right: $pad*2
      word-break: break-word
    .file-status
      font-size: $font-smallest
      color: $text-gray-5

  .menu-button
    position: absolute
    right: $pad
    cursor: pointer
    top: $pad
    color: $text-gray-7

.space-file-list-item-menu
  padding-top: $pad*3
  position: relative
  .close-button
    color: $error
    position: absolute
    top: 0
    right: 0
