.space-card

  &-theme-1
    +space_card($tip)
  &-theme-2
    +space_card($success)
  &-theme-3
    +space_card($highlight)
  &-theme-4
    +space_card($contrast)
  &-theme-5
    +space_card($error)
  &-theme-6
    +space_card($purple)
  &-theme-7
    +space_card($main)

  + &
    margin-bottom: $pad*1.5

  &-inaccessible-overlay
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: alpha-it($black, $opacity-strongest)
    border-radius: 3px

    &-content
      text-align: center
      .description
        margin-bottom: $pad
        font-weight: $weight-8

  &-purpose
    padding: 20px
    font-size: $font-larger
    border-radius: 3px 3px 0 0
    text-shadow: 0 1px 1px alpha-it($black, $opacity-weak)

  &-status
    position: relative
    display: flex
    justify-content: flex-end
    // ^ TODO: remove when status exists and replace with space-between
    align-items: center
    background: alpha-it($black, $opacity-ghost)
    padding: $pad $pad*2
    font-size: $font-smaller
    border-radius: 0 0 3px 3px

    &-content
      position: relative
      .user-avatar
        position: absolute
        background-size: cover
        background-position: center
        width: 25px
        height: 25px
        border-radius: 75px

      .owner-content
        margin-left: 25px + $pad/2

        &-date
          font-size: $font-smallest

    &-users
      &-count
        margin-right: $pad/4
