=space-square($bg_color)
  width: 80px
  height: 80px
  margin: 0 $pad $pad 0
  background-color: $bg_color
  color: white
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  +user-select-none
  &.selected
    border: 2px solid alpha-it($black, $opacity-weaker)
    .icon
      font-size: $font-larger


.space-form-container
  padding: $pad*2
  margin: auto
  margin-bottom: $pad*5
  max-width: $pad*80
  background-color: $white
  border: 2px solid $text-gray-3
  border-radius: $button-border-radius

  .input-label
    color: $text-gray-5
    margin-bottom: $pad/2

  .space-setup-theme-form
    .theme-square-container
      display: flex
      justify-content: space-between
      flex-wrap: wrap

      .space-theme-square
        &-theme-1
          +space-square($tip)
        &-theme-2
          +space-square($success)
        &-theme-3
          +space-square($highlight)
        &-theme-4
          +space-square($contrast)
        &-theme-5
          +space-square($error)
        &-theme-6
          +space-square($purple)
        &-theme-7
          +space-square($main)

  .space-setup-share-form
    .title
      font-size: $font-large
      color: $success
      margin-bottom: $pad*2

    .discussion-text
      margin-bottom: $pad

    .discussion-list
      list-style: disc
      padding-left: 1em
      li
        margin-bottom: $pad

  .space-setup-invite-form
    .ferpa-label
      display: flex
      align-items: center

      span
        margin-left: $pad


  .space-setup-input-container
    margin-bottom: $pad*2

    .Select
      .invite-user-option
        display: flex
        align-items: center

        .profile-info-avatar
          display: inline-block
          width: 30px
          height: 30px
          margin-right: $pad/2
          border-radius: 100px

    &.purpose
      position: relative

      .purpose-input
        padding-left: 10px
        background-color: $white
        border-radius: 4px
        border: 2px solid $text-gray-2
        color: $text-gray-9
        height: 44px
        outline: none
        overflow: hidden
        position: relative
        width: 100%

      .purpose-remaining-char
        position: absolute
        right: 0
        bottom: -$pad * 2
        font-size: $font-smallest
        color: $text-gray-5
        &.-warning
          color: $error

    &.access

      .space-access-input

        .space-access-label
          font-weight: bold

        .space-access-org-name
          font-weight: bold
