.space-invite-card
  +post_member_card
  border-radius: $card-border-radius
  &-content
    position: relative
    padding: $pad*1.5 0 $pad*1.5 $pad*2.5
    &-created-date-timedelta
      font-size: $font-smaller
      color: $text-gray-5
      line-height: .9em
    &-email
      font-weight: $weight-7
      color: $text-gray-9
      font-size: $font-large
    .menu-button
      &.icon
        color: $text-gray-5
      position: absolute
      top: $pad*2
      right: $pad*2

.space-invite-popover
  li a
    line-height: $pad*2.5
  +mobile_only
    width: 50%
    left: auto !important
    right: 0
