.space-post-attachment
  width: 100%
  background-color: $white
  display: flex
  align-items: center
  padding: $pad
  border: 1px solid $text-gray-3
  border-radius: $card-border-radius
  margin-bottom: $pad
  min-height: 120px
  word-break: break-all
  +mobile-only
    min-height: 70px

  .file-icon
    flex-shrink: 0
    margin-right: $pad*2
