=showXLines($linesToShow, $fontSize, $lineHeight)
  font-size: $fontSize
  line-height: $lineHeight
  overflow-y: hidden
  display: block
  /* Fallback for non-webkit */
  display: -webkit-box
  height: $fontSize * $lineHeight * $linesToShow
  font-size: $fontSize
  line-height: $lineHeight
  -webkit-line-clamp: $linesToShow
  -webkit-box-orient: vertical
  overflow: hidden
  text-overflow: ellipsis

=mc-card($col: 6, $mcol: 12, $grid: 12)
  $module: 'micro-credential-card'

  .micro-credential-card-wrapper
    height: $cardHeight
    +gallery($col of $grid)

    +mobile-only
      +gallery($mcol of $grid)
      float: none

    .micro-credential-card
      border: 1px solid #DEDEDE
      height: 100%
      background: #FFF
      +box-shadow(#DEDEDE 1px 1px 4px)
      &-content
        +with-layout($grid)
          height: 100%
          padding: 20px
          +mobile_only
            padding: 20px 0px
          .#{$module}-info
            +span($grid)
            height: $cardHeight - 50px
          .#{$module}-image
            +span($grid / 3)
            width: 95px
            img
              max-height: 100%
              max-width: 100%
          .#{$module}-details
            +span($grid - 4)
            padding-left: 10px
          .#{$module}-text
            max-height: 120px
          .#{$module}-title
            +showXLines(2, 16px, 1.2)
            font-weight: bold
            height: auto
          .#{$module}-description
            +showXLines(4, 13px, 1.4)
            font-weight: 400
            margin-top: 10px
          .#{$module}-details-btn
            margin-top: 10px
            .btn
              outline: 1px solid #666
              margin-left: 35px
          .#{$module}-meta
            +span($grid)
            text-align: center
            font-size: 12px
            .micro-credential-provider, .micro-credential-publisher
              color: #37AAE4

    @content

=submission_card($col: 6, $mcol: 12, $grid: 12)
  +mc_card($col, $mcol, $grid)
    &.submission
      text-align: center
      padding: 0 3px
      position: relative
      &:hover
        .overlay
          display: block

      .ribbon
        position: absolute
        z-index: 1
        top: 10%
        right: 1%
        background: #ccc
        color: #fff
        font-weight: $weight-6
        font-size: $font-large
        width: 30%
        height: $pad*5.5
        & > span
          text-align: left
          display: block
          margin-left: $pad
        &.started
          background-color: #999999
          padding-top: $pad*1.5
        &.pending
          background-color: #F59525
          padding-top: $pad/2

      .overlay
        display: none
        position: absolute
        z-index: 2
        width: 98%
        height: 100%
        background-color: rgba(0, 0, 0, 0.75)
        padding: 10%
        &-details-link
          margin-top: $pad*2.5
        &-response-link
          margin-top: $pad*5
        a
          color: white
          font-weight: $weight-6
          font-size: $font-large
          display: block

      .micro-credential-card-content
        .micro-credential-card
          &-image
            width: 60%
            height: 60%
            display: block
            float: none
            margin: 0 auto 15px auto
          &-details
            width: 100%
          &-title
            +showXLines(2, $font-large, 1.2)
            font-size: $font-large
            color: $contrast
          &-description, &-details-btn
            display: none
          &-meta
            span:first-child
              color: #666
            .date
              font-weight: $weight-9
