// TODO: move to styles

.tab-control
  display: inline-block

  .item
    cursor: default
    display: inline-block
    background: none
    border: 1px solid white
    border-radius: 50%
    padding: 3px
    opacity: 0.8
    margin-right: $pad*2
    font-size: $font-micro
    width: 22px
    height: 22px
    transition: all .3s ease
    font-weight: 700
    position: relative

    pre
      position: absolute
      left: 100%
      height: 1px
      width: 21px
      background-color: white
      top: 0

  .item:last-child
    margin-right: 0

    pre
      display: none

  .item.enabled
    cursor: pointer

  .active, .item.enabled:hover
    background: white
    color: #9093CA
