.topics-list
  .topic-card
    margin-right: $pad*2
    margin-bottom: $pad*2
    vertical-align: top

    +mobile_only
      width: calc(50% - #{$pad})
      margin: 0
      margin-right: $pad
      margin-bottom: $pad
