
.active-outline-btn, a.active-outline-btn,
input.active-outline-btn, button.active-outline-btn
  +btn($contrast, false)
  +btn-styles
  +transition-property(border-color)
  +transition-duration(0.15s)
  +transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1))
  border: $button-border-width solid transparent
  border-radius: $pad
  background: $active-outline-background
  &:hover
    background: $active-outline-background
  @each $name, $color in $app-colors
    &.active-outline-btn-#{$name}.active-outline-btn-active
      border: $button-border-width solid $color
      box-shadow: 0 1px 5px alpha-it($color, $opacity-base)
  @each $name, $color in $extended-colors
    &.active-outline-btn-#{$name}.active-outline-btn-active
      border: $button-border-width solid $color
      box-shadow: 0 1px 5px alpha-it($color, $opacity-base)
