.border-btn
  display: block
  width: 100%
  color: $text-gray-4
  font-weight: $weight-7
  border-radius: $button-border-radius
  border-width: 2px
  border-color: $text-gray-3
  border-style: solid
  padding: $pad * 2 $pad * 4
  background-color: $white
  opacity: .7
  +transition-property(opacity)
  +transition-duration(.3s)
  &.dotted
    border-style: dotted
  &.dashed
    border-style: dashed
  &:hover
    color: $text-gray-4
    opacity: 1
