// -------------------------
// Scroll to top
// -------------------------

// Should rename as this clashes with global buttons
.floating-button
  position: fixed
  color: $blue
  background: rgba(white, 0.8)
  margin: auto
  left: 0
  right: 0
  top: 35px
  box-shadow: 0 0 10px rgba(black, 0.3)
  max-width: $mobile/2
  z-index: $z-10
  text-decoration: none
  +transition-property(all)
  +transition-duration(1s)
  &.highlight
    background-color: $yellow
  &:hover
    text-decoration: none
    background-color: $yellow
    color: $blue
    box-shadow: 0 0 10px rgba(black, 0.3)
