.btn, a.btn, input.btn, button.btn
  +btn(white, false)
  +btn-styles
  border: none
  background: none
  &:hover
    background: none
    color: inherit
    border: zero
    text-decoration: none
    +box-shadow(none)
    &:before, &:after
      text-decoration: none
  &-default
    +btn($blue, false)
    +btn-styles
    &-outline
      +outline-btn-styles($blue)
      &-white
        +outline-btn-styles($blue)
        +white-style
      &-black
        +outline-btn-styles($blue)
        +black-style
  &-primary
    +btn($main, false)
    +btn-styles
    &-outline
      +outline-btn-styles($main)
      &-white
        +outline-btn-styles($main)
        +white-style
      &-black
        +outline-btn-styles($main)
        +black-style
  &-success
    +btn($success, false)
    +btn-styles
    &-outline
      +outline-btn-styles($success)
      &-white
        +outline-btn-styles($success)
        +white-style
      &-black
        +outline-btn-styles($success)
        +black-style
  &-warning
    +btn($tip, false)
    +btn-styles
    &-outline
      +outline-btn-styles($tip)
      &-white
        +outline-btn-styles($tip)
        +white-style
      &-black
        +outline-btn-styles($tip)
        +black-style
  &-danger
    +btn($error, false)
    +btn-styles
    &-outline
      +outline-btn-styles($error)
      &-white
        +outline-btn-styles($error)
        +white-style
      &-black
        +outline-btn-styles($error)
        +black-style
  &-info
    +btn($info, false)
    +btn-styles
    &-outline
      +outline-btn-styles($info)
      &-white
        +outline-btn-styles($info)
        +white-style
      &-black
        +outline-btn-styles($info)
        +black-style
  &-accent
    +btn($accent, false)
    +btn-styles
    &-outline
      +outline-btn-styles($accent)
      &-white
        +outline-btn-styles($accent)
        +white-style
      &-black
        +outline-btn-styles($accent)
        +black-style
  &-highlight
    +btn($highlight, false)
    +btn-styles
    &-outline
      +outline-btn-styles($highlight)
      &-white
        +outline-btn-styles($highlight)
        +white-style
      &-black
        +outline-btn-styles($highlight)
        +black-style
  &-yellow
    +btn($yellow, false)
    +btn-styles
    &-outline
      +outline-btn-styles($yellow)
      &-white
        +outline-btn-styles($yellow)
        +white-style
      &-black
        +outline-btn-styles($yellow)
        +black-style
  &-contrast
    +btn($contrast, false)
    +btn-styles
    &-outline
      +outline-btn-styles($contrast)
      &-white
        +outline-btn-styles($contrast)
        +white-style
      &-black
        +outline-btn-styles($contrast)
        +black-style
  &-gray
    +btn(shade(white, 10%), false)
    +btn-styles
    &-outline
      +outline-btn-styles(shade(white, 30%))
      &-white
        +outline-btn-styles(shade(white, 30%))
        +white-style
      &-black
        +outline-btn-styles(shade(white, 30%))
        +black-style
  &-white
    +btn(white, false)
    +btn-styles
    &-outline
      +outline-btn-styles(white)
      &-black
        +outline-btn-styles(white)
        +black-style
  &-black
    +btn(black, false)
    +btn-styles
    &-outline
      +outline-btn-styles(black)
      &-white
        +outline-btn-styles(black)
        +white-style

  // Depricated after new cards roll out
  // Need to remove from stack
  // or need to add to new styles
  &-card-pill
    +outline-btn-styles($contrast)
    border-color: alpha-it($contrast, $opacity-weak)
    +black-style
    +border-radius(50px)
    border-width: 2px
    border-style: solid
    height: 30px
    width: 30px
    line-height: 26px
    padding: 0
    +transition(.12)
    &:hover
      +transition(.12)
      border-color: $highlight
      background: $highlight
      +text-color($highlight, false)
    @each $name, $color in map-merge($app-colors, (blue : $blue))
      &.#{$name}:hover
        border-color: $color
        background: $color
        +text-color($color, false)
    &.icon-left, &.icon-right
      width: auto
      padding: 0 $pad
      font-size: $font-small
      &:after, &:before
        top: .15em
        +font-smoothing(subpixel-antialiased)
        font-size: 110%
    &.selected
      background: $success
      border-color: $success
      @each $name, $color in map-merge($app-colors, (blue : $blue))
        &.#{$name}
          background: $color
          border-color: $color
          &:hover
            background: saturate($color, 30%)
            border-color: saturate($color, 30%)
      color: $white
      +transition-property(border-color, background-color, width)
      +transition-duration(.2s)
      +transition-timing-function(cubic-bezier(.7, 0, .3, 1))
      .hide-hover-text, .hover-text
        +transition-property(width, opacity)
        +transition-duration(.2s)
        +transition-timing-function(cubic-bezier(.7, 0, .3, 1))
        +inline-block
        overflow: hidden
      .hide-hover-text
        width: auto
        opacity: 1
        position: relative
      .hover-text
        width: 0%
        opacity: 0
        position: absolute
      &:hover
        background: saturate($success, 30%)
        border-color: saturate($success, 30%)
        .hover-text
          width: auto
          opacity: 1
          position: relative
        .hide-hover-text
          width: 0%
          opacity: 0
          position: absolute
