.modal-btn-close
  position: absolute
  right: $pad * 2
  top: $pad * 2
  color: $white
  font-size: $font-larger
  z-index: $z-5

  .close-text
    font-size: $font-smaller
    display: block

  & .uppercase
    .close-text
      text-transform: uppercase