// file upload button
.upload-btn
  position: relative
  text-align: right
  cursor: pointer
  &:hover
    color: $tip
  & > span[data-icon]
    padding: $pad/2 $pad
    margin-right: $pad
    &::before
      padding-right: 0
  input[type='file']
    cursor: pointer
    position: absolute
    right: 0
    opacity: 0
