{% set highlights = [
  { icon: "icon-display-chart-up", icon_color: "blue", title: "Grew UX team from 1 → 30+", description: "Expanded our design function into a robust, cross-functional team that fuels innovative product solutions." },
  { icon: "icon-laptop-mobile", icon_color: "red", title: "Launched 3+ major platforms: Playbook, Pulse, Home Tour", description: "Delivered multiple high-impact digital platforms that transformed customer engagement and operational efficiency." },
  { icon: "icon-wand-magic-sparkles", icon_color: "green", title: "Modernized legacy systems across 7+ core tools", description: "Overhauled outdated infrastructure, streamlining processes and enhancing overall system performance." },
  { icon: "icon-laptop-code", icon_color: "blackish", title: "Playbook now used in every Nitro PR", description: "Implemented a unified design system that standardizes branding and speeds up development across all projects." }
] %}
{% include "companies/shared/highlights.njk" %}
