=play-icon
  .play-icon
    display: block
    width: 50px
    height: 50px
    border: 2px solid white
    border-radius: 50%
    float: left
    background-color: rgba(0,0,0,0.6)
    position: relative
    &:hover 
      background-color: rgba(0,0,0,0.8)
    .play-triangle
      border-style: solid
      border-width: 8px 0 8px 15px
      border-color: transparent transparent transparent white
      position: absolute
      top: 15px
      left: 18px