.nav
  position: absolute
  top: $pad/3
  left: 0
  width: 100%
  a.avatar
  ul.menu
    position: absolute
    top: 0
    right: $pad/3
    li
      a.menu-item
        +outline-btn-styles($white)
        border-radius: 100px
        font-size: 12px
        padding: $pad/6 $pad/3
        border-width: 1px
        text-transform: lowercase