.active-outline-button-group
  display: flex
  padding: 0.55em 0.5em

  .active-outline-btn
    width: calc(25% - #{$pad}*2*3/4)
    margin-right: $pad*2
    padding-top: $pad*3

    &:last-child
      margin-right: 0
