.bb-avatar-group
  display: inline-block
  padding-right: $pad*2

  &.smallest
    > .item
      margin-right: -$pad * 2

  &.smaller
    > .item
      margin-right: -$pad * 2

  &.small
    > .item
      margin-right: -$pad * 2

  &.base
    > .item
      margin-right: -$pad * 2.5

  &.large
    > .item
      margin-right: -$pad * 2.5

  &.larger
    > .item
      margin-right: -$pad * 4

  &.largest
    > .item
      margin-right: -$pad * 4
