.bar-chart-list-view-item
  text-align: left
  h1
    font-size: 17px
    margin: 0 0 0.8*$pad
  .flex-container
    display: flex
  img
    height: 90px
    width: 90px
    min-width: 90px
  .text-container
    flex-grow: 1
    margin-left: $pad
    display: flex
    flex-direction: column
    justify-content: center
  .chart-container
    margin-top: 10px
  .data-details
    .data-detail-item
      color: $text-gray-5
      font-size: 17px
      display: inline-block
    .data-detail-item:nth-last-child(n+2)
      &::after
        content: '•'
        margin: 0 5px


.bar-chart-list-view-item.small
  h1
    font-size: 18px
  .content-container
    flex-grow: 1
    display: flex
    flex-direction: column
    justify-content: center
    margin-left: $pad
    .bar-chart-container
      height: 18px
      overflow: hidden
  img
    height: 60px
    width: 60px
    min-width: 60px
