.bb-file-grid-view-item
  background: $white
  width: 220px
  height: 220px
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-end
  position: relative
  > .icon-background
    position: absolute
    top: 0
    align-self: center
    &.is-image
      width: 100%
      height: 100%
  > .details
    background-color: alpha-it($white, 0.9)
    border-top: 1px solid $text-gray-5
    padding: $pad
    z-index: 1
  > .overlay
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    pointer-events: none
    > *
      pointer-events: all
