.bb-microcredential-card
  height: $card-grid-height
  width: $card-grid-height
  display: inline-block
  position: relative
  background: white
  border-radius: 4px
  border: 2px solid $border
  &:hover
    border-color: darken($border, 10%)
  &.placeholder
    background-color: $text-gray-2

  > .main
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    height: 100%

    > .image
      margin-top: $pad*4
      height: 50%
      width: auto
      > img
        height: 100%

    > .title
      +card-title($dark: true)
      cursor: pointer
      margin-bottom: $pad
      margin-top: $pad
      &.has-status
        margin-bottom: $pad / 2

    > .status
      width: 100%
      font-size: $font-smaller
      padding: $pad / 2
      font-weight: $weight-9
      &.started
        color: $white
        background: $text-gray-4
      &.pending
        color: $white
        background: #F59525
      &.awarded
        color: $text-gray-4
        > .icon
          margin: $pad/2
          font-size: $font-small
          line-height: 0
      &.denied
        color: $text-gray-4
        > .icon
          margin: $pad/2
          font-size: $font-smaller
          line-height: 0

  > .mc-badge
    z-index: $z-1
    pointer-events: none
    top: 0
    position: absolute

  > .save
    z-index: $z-2
