.bb-smart-comment
  > .editor
    transition: margin 0.15s ease, padding 0.15s ease
  &.viewing
    > .editor
      margin: 0 $pad*2
      padding-left: $pad*2.5
      +tablet-and-above
        margin-top: -$pad*2
      &.editor-border
        border-bottom: 1px solid $text-gray-3
  &:last-child
    > .editor.editor-border
      border-bottom: none
