.bb-post-header
  background: $white
  > .header-main
    display: flex
    flex-direction: column
    text-align: left
    align-items: flex-start
    > .author
      padding: 0
  > .dropdown-button
    align-self: flex-start
