.bb-smart-post
  .post-header
    padding: 0 $pad
    border-bottom: 1px solid $text-gray-3
    .highlight-button
      padding: 0
  .post-body
    border-bottom: 1px solid $text-gray-3
  .show-more-comments
    padding: $pad
    padding-bottom: 0
    background: $text-gray-1
    +tablet-and-above
      text-align: center
    .loading-more
      opacity: $opacity-base
      pointer-events: none
    >.comment-count
      position: absolute
      right: $pad
      padding: $pad/2
  .comments
    background: $text-gray-1
    border-bottom: 1px solid $text-gray-3
    .comment-item
      padding-left: $pad*4
