.bb-collection-card
  +background_cover
  height: 250px
  width: 250px
  display: flex
  flex-direction: column-reverse
  position: relative
  overflow: hidden
  +border-radius(4px)
  &.placeholder
    background-color: $text-gray-2

  &:hover
    > .overlay
      +transition-duration(0.22s)
      background: rgba(shade($purple, 60%), 0.55)

  > .overlay
    +transition-property(background)
    +transition-duration(0.92s)
    +transition-timing-function(ease-in)
    background: rgba(black, 0.2)
    position: absolute
    height: 100%
    width: 100%
    top: 0
    cursor: pointer

  > .main
    padding: $pad
    z-index: $z-1
    height: 70%
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-end
    +linear-gradient( rgba(black, 0), rgba(black, 0.4) 80%, rgba(black, 0.6) 100%)

    > .title
      +card-title
      margin-bottom: $pad

    > .items
      background: white
      text-transform: uppercase
      font-size: $font-tiny
      letter-spacing: $spacing-loose
      padding: $pad/2.5 $pad/1.2
      color: black
      margin-bottom: $pad
      display: inline-block
      +border-radius(2px)

  > .mc-badge
    z-index: $z-1
    pointer-events: none
    top: 0
    position: absolute

  > .inaccessible
    z-index: $z-2
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: $purple
    opacity: 0.9
    color: white
    border-radius: 3px
    > .icon
      display: block
      text-align: center
      font-size: 80px
      margin-top: $pad * 3
    > .sub-text
      display: block
      margin: 10px 20px
      font-weight: $weight-8
      text-align: center

  > .save
    z-index: $z-3
