.bb-draft
  +post-style(16px)
  background: $white
  padding: $pad*2
  border-radius: 4px
  .remove-overlay
    a
      color: $white
  > .DraftEditor-root
    min-height: 100px

    > .DraftEditor-editorContainer
      min-height: inherit

      > .public-DraftEditor-content
        min-height: inherit
  .bb-grid
    a.grid-add
      color: $text-gray-4

  &.draft-inline
    > .DraftEditor-root
      min-height: 30px
      height: 100%

.bb-rich-entity-entity-grid
  margin: $pad 0

.bb-draft-sticky-toolbar
  .sticky-view-content
    background: $white
    width: 100%
    box-shadow: 0 0 $pad/2 alpha-it($contrast, $opacity-weak)
    .bb-draft-toolbar-sticky
      justify-content: center

.bb-draft-editor-loading
  background: $white
  padding: $pad*2 0
  border-radius: 4px
