.bb-draft-toolbar
  .toolbar-item.icon
    transition: color ease-in 0.2s
  .selected
    color: $blue
    box-shadow: inset 0 1px 9px alpha-it($black, $opacity-weakest)
  .disabled
    pointer-events: none
    opacity: 0.5
