
.card-grid-wide
  ul
    li
      .card-grid-wide-overlay
        &.card-grid-wide-remove-layer
          background: black
          color: $info
          position: absolute
          height: 50px
          top: calc(100% - 50px)
          text-align: center
          padding: $pad*1.5
          cursor: pointer

        &.card-grid-wide-undo-layer
          background: rgba(black, 0.8)
          position: absolute
          text-align: center
          .undo-removed
            color: $success
            display: block
            margin-top: $pad*10
          .undo-button
            margin-top: $pad*2
            display: inline-block
