// Page Specific
.collections-show
  background: $background

  a.collection-item-add
    margin: 0 auto $pad*4
    display: block
    width: 100px
    &:before
      display: none !important

  &-section-header
    padding: $pad*1.5 0
    font-size: $font-smaller
    color: lighten($contrast, 30%)
    font-weight: $weight-10
    letter-spacing: 1px
    text-align: center
    text-transform: uppercase
    // max-width: $pad*20
    margin: 0 auto
    .edit-link
      margin-right: $pad

  .collection-page-tabs
    position: relative
    min-height: 60vh
    .collection-page-tab
      width: 100%
      margin: 0 auto
      +mobile-only
        padding: $pad

  .sticky-view
    text-align: center
    .sticky-view-content
      background: $white
      width: 100%
      box-shadow: 0 0 $pad/2 alpha-it($contrast, $opacity-weak)
    .collection-sticky-flex-container
      display: flex
      align-items: center
      justify-content: center
    .collection-sticky-description
      width: 400px
      +inline_block
      text-align: left
      color: $contrast
      padding: $pad 0
      padding-right: $pad
      border-right: 2px solid $background
      font-size: $font-base
      span
        +card-title(true)
      +mobile-only
        display: none
    .collection-actions
      zoom: 1
      margin: $pad/2
      display: flex
      align-items: center
      .btn-text.collection-header-action
        margin: 0
        border-color: transparent
        font-size: $font-smallest
        font-weight: $weight-4
        color: rgba(black, 0.4)
        position: relative
        padding-top: $pad*1.5
        margin-top: $pad
        &:before
          display: block
          width: 100%
          font-size: $font-large + 1px
          color: rgba(black, 0.9)
          position: absolute
          margin-left: -0.5em
        &:hover
          color: rgba(black, 0.5)
          border-color: transparent
        &.selected
          background: none
          border-color: transparent
          color: rgba(black, 0.4)
          &:before
            color: $success
          &:hover
            background: none
            border-color: transparent
            color: rgba(black, 0.5)
            &:before
              color: $success
        &:nth-child(3)
          &:before
            font-size: $font-large + 5px
        +mobile-only
          +text-btn(false)
          border: 2px solid transparent
          margin-bottom: $pad
          font-size: 90%
          &:before
            color: tint(black, 30%)
            margin-left: 0
            position: relative
            display: inline
            top: 0.20em
          &:hover
            border: 2px solid tint(black, 50%)
          &.selected
            border: 2px solid $success
            &:before
              color: white
            &:hover
              border: 2px solid $success

  .collection-tabs
    font-size: $font-base
    +mobile-only
      display: none

  .collection-header-nav-actions-mobile
    display: none
    background: white
    margin-bottom: $pad
    text-align: center
    +mobile-only
      display: block

  .teaser-answer
    margin: $pad*2
    margin-top: $pad*4
    +mobile-only
      margin-left: $pad
      margin-right: $pad

  .teaser-join
    padding: $pad*2
    text-align: center


  // Move
  .collections-sharer
    max-width: $reading-width
    margin: 40px auto
    text-align: center

    .collections-sharer-title
      font-weight: $weight-10
      font-size: $font-large + 2
      margin: $pad*3



  &-topics
    text-align: center
    margin: $pad*4 auto
    max-width: $reading-width
  &-topics-items
    .collections-show-topics-item
      margin-right: $pad/2
      margin-bottom: $pad
      span.close
        margin-left: $pad
        font-size: $font-smallest - 1
        cursor: pointer

    +topic-backgrounds-hover

  &-recommend-more
    padding: $pad 0 $pad*5 0
    background: rgba(black, 0.04)

.updating-collection
  &.sk-spinner-three-bounce.sk-spinner
    padding-top: 15%


.share-restricted-message
  color: shade($background, 45%)
  padding-top: 25px
  font-size: $font-smaller
