
.collection-page-discussion
  width: $reading-width
  margin: 0 auto
  +mobile-only
    width: 100%
  margin-bottom: $pad*4

  .ask-top
    text-align: center
    padding: $pad*2
    margin-bottom: $pad*2
    .label
      color: $text-gray-6
      font-family: "Montserrat", sans-serif
  .ask-bottom
    text-align: center
    padding: $pad*2

  .questions-list
    .collection-questions
      margin-bottom: $pad*3

    .question-body
      padding-top: $pad*4
      padding-bottom: $pad*2

      .answer
        margin: $pad*3 $pad*4
        margin-bottom: $pad*2
        +mobile-only
          margin: $pad*3 $pad
          margin-bottom: $pad*2

      .buttons
        text-align: center
        padding: $pad*2 $pad
        button
          margin-right: $pad

      .question-answer
        margin: $pad*2 $pad*4
        border-bottom: 1px solid $text-gray-3
        +mobile-only
          margin: $pad*2 $pad

      .answer-this
        text-align: center
        margin: $pad*2

    .undo
      margin-bottom: $pad*3
      .undo-content
        font-family: "Montserrat", sans-serif
        padding: $pad
        background: $white
        .link
          cursor: pointer
          border-bottom: 2px solid $tip
          margin-left: $pad/3
        .icon
          cursor: pointer
          float: right
          margin-right: $pad
          color: $text-gray-3

    .undo.answer
      margin-bottom: $pad*4
      .undo-content
        background: $background
      +mobile-only
        margin: $pad*4 $pad

  .feature-heading
    margin-bottom: $pad*2
    margin-top: 0
    +mobile-only
      margin-bottom: $pad*1

  .ask-section
    padding: 0
    text-align: center
    &.-empty
      background-color: $white
      padding: $pad*5

    &:not(:last-child)
      margin-bottom: $pad*1.5

    .space-creation-link
      cursor: pointer

  .show-question-trigger
    cursor: pointer

    span
      vertical-align: top

    .link
      border-bottom: 2px solid $tip
      margin-left: $pad/3

    .icon
      transition: all .3s ease
      margin-left: $pad/3
      display: inline-block

    .icon-open
      transform: rotate(180deg)


.question-modal-btn-close
  color: $contrast
