.collaboration-report-list
  background: $background
  &-header
    background: darken($background, 5%)
    border-top: 1px solid darken($background, 10%)
    border-bottom: 1px solid darken($background, 10%)
    width: 100%
    &-container
      max-width: $desktop
      margin: 0 auto
      display: flex
      justify-content: flex-end
      padding: $pad 0
      .stats-header
        display: flex
        width: 40%
        &-item
          width: 100%
          text-align: center
          +mon-font
          font-weight: $weight-4
          color: $text-gray-6
          font-size: $font-small
  &-body
    width: 100%
    &-container
      max-width: $desktop
      margin: 0 auto

  .subtext-type
    font-size: $font-base
  .subtext-about
    margin-left: $pad/2
    font-size: $font-smaller
    color: $black
  .icon
    vertical-align: text-bottom
    margin: 0 $pad/2 0 0
