.bb-popover
  &-content
    .edit-curator-popover
      .sticky-view-content .loading-default.sk-spinner
        margin-top: 10%
    .edit-curator-popover,
    .edit-collection-grades, .edit-resource-grades,
    .edit-collection-subjects, .edit-resource-subjects,
    .edit-collection-topics, .edit-resource-topics
      color: #000
      text-align: center
      padding-left: $pad
      padding-right: $pad
      width: $pad*35
      +mobile-only
        width: auto
      .sticky-view
        &-content
          +modal-fullscreen
          background: transparent
          .loading-default
            margin-top: 40%
      header, .title
        display: block
        margin: $pad*2 0
        +headline
      header
        font-size: $font-large
      .title
        font-size: $font-larger

      .check-list
        width: 100%
        margin: $pad*2 0
        input
          margin: 0 $pad 0 0
        label
          &:first-child
            border-top: 1px solid #999
          border-bottom: 1px solid #999

      form
        .error
          +headline-copy-sub
          color: red
        input
          margin-bottom: $pad
          &[type='text']
            width: 100%

.edit-collection, .edit-resource
  &-topics
    .topic-picker
      &-title
        font-size: $pad*2.5
  &-subjects
    .check-list
      overflow: auto
      max-height: 235px
