.initiative-fragment-title
  display: flex
  align-items: center
  margin: 0 auto

  .initiative-fragment-title-title
    flex-grow: 1
    .initiative-title-title
      color: $white
    .initiative-title-hint
      color: $white

  .initiative-fragment-title-edit-button
    padding-left: $pad
    font-size: $font-larger
