.initiative-fragment-collections
  padding-bottom: $pad*3
  .headline
    +pad-to-card-grid-wide
    color: $text-gray-9
    margin-left: $pad
    margin-right: $pad

  .divider
    width: calc(#{$card-grid-wide-width - $pad*2})
    margin: 0 auto
    margin-bottom: $pad*3

  .initiative-fragment-collections-add
    width: 100%
