.mc-org-section
  margin: $pad*4 0 $pad*2 0
  padding: $pad*2 0 $pad*2.5 0
  border: 2px solid $border
  background: white
  position: relative
  &-ceu
    text-align: center
    width: 50%
    margin: 0 auto
    +media-max-width($reading_width)
      width: 70%
    +media-max-width($tablet)
      width: 90%
    .email-text
      a
        color: black !important
        text-decoration:underline
        &:hover
          color: black !important
          text-decoration:underline
  .btn-link
    color: $tip
    &:hover
      color: darken($tip, 10%)
  &-icon-badge
    position: absolute
    top: -25px
    right: 0
    left: 0
    margin-left: auto
    margin-right: auto
    width: 55px
    .mc-badge-icon
      font-size: 40px
      color: rgba(0,0,0,0.5)
      background: $info
      border: 2px solid $border
      border-radius: 50%
      padding: 0 $pad/2
  &-value-badge
    +card-label
    display: table
    margin: -($pad*3) auto 0 auto
    max-width: 200px
    .mc-badge-icon
      color: rgba(0,0,0,0.8)
    .mc-badge-text
      color: rgba(0,0,0,0.8)
