.micro-credentials-list
  +mobile_only
    padding: $pad*2 0 0 0
  .micro-credentials-group-large
    .micro-credentials
      .microcredential-card-wrapper
        min-height: 185px
        +gallery(6 of 12)
        margin: $pad 0
        +media_max_width(900px)
          min-height: 195px
        +media_max_width(500px)
          min-height: 230px
          +gallery(12 of 12)
          float: none
        .microcredential-card
          width: 100%
          height: 100%
          border: 2px solid $border
          border-radius: 4px
          background: white
          padding-left: 0
          .save-button
            margin: $pad
          &:hover
            border-color: darken($border, 10%)
          &-ceu
            +card-label
            margin-top: $pad*0.5
            margin-left: $pad*0.8
          &-image
            float: left
            width: 40%
            height: 100%
            a
              display: block
              height: 100%
            img
              border-bottom-left-radius: 3px
              border-top-left-radius: 3px
              height: auto
              width: 100%
              margin: 0
              +media_max_width($reading_width)
                padding: $pad*5 $pad
          &-content
            border: 0
            border-radius: 0
            float: left
            width: 60%
            position: relative
            padding: $pad
            +media_max_width($reading_width)
              border-left: 1px solid $border
          &-info
            margin: $pad*4 0 $pad*2 0
            width: 100%
            position: relative
            padding-bottom: $pad*2
            .title
              margin-bottom: $pad*0.5
              p
                +mon-font
                +multiline_text_truncate(2)
                font-weight: $weight-4
                letter-spacing: $spacing-tighter
                font-size: $font-base
                line-height: ($font-base + 1px)
                color: tint(black, 20%)
                cursor: pointer
                +transition(0.12)
                +text-shadow(none)
                margin: 0
                max-width: 85%
                &:hover
                  color: tint($tip, 20%)
            .description
              font-weight: $weight-4
              font-size: $font-small - 1px
              line-height: ($font-small)
              letter-spacing: $spacing-tighter
              color: darken(white, 60%)
              +text-shadow(none)
              top: 50%
          &-meta
            font-size: $font-smallest
            position: absolute
            bottom: 0
            left: 40%
            margin: $pad
            .provider
              color: #666
              text-decoration: underline
              display: inline-block
              width: 70px
              vertical-align: bottom
              +text_truncate
            .publisher
              color: #666
              text-decoration: underline
              width: 90px
              vertical-align: bottom
              +text_truncate
            .icon
              margin-left: -$pad*0.2
