
.modal-microcredential-picker-close-button
  color: lighten($contrast, 20%)

.modal-microcredential-picker
  padding-top: $pad*6

  .modal-microcredential-picker-body
    width: $reading-width
    margin: 0 auto

    +mobile-only
      width: 100%
      padding: 0 $pad
