
.modal-picker-close-button
  color: lighten($contrast, 20%)

.modal-picker
  > .modal-picker-body
    padding: $pad*2
    +mobile-only
      margin-top: $pad
      overflow: auto
      max-height: 100%
    > .modal-picker-actions
      text-align: center
      padding-top: $pad*4
      padding-bottom: $pad*2
      > .action
        margin-left: $pad
        &:first-child
          margin-left: 0
  &.full
    +pad-to-reading-width
    > .modal-picker-body
      display: flex
      flex-direction: column
      max-height: 100%
      > .modal-picker-actions
        flex-shrink: 0
