.org-space-page
  padding-top: 54px
  padding-bottom: $pad*4

  .org-space-page-header
    background: white
    border-bottom: 2px solid $header-border-color
    text-align: center

    .page-title
      text-align: center
      color: $white

    &-mobile-tabs
      display: flex
      text-align: left
      align-items: center
      padding: $pad
      +tablet-and-above
        display: none
      .current-tab
        color: $contrast
        font-weight: $weight-7
        flex-grow: 1

  .org-space-page-loading
    margin-top: $pad*2


.org-space-page-header-tab-item
  color: inherit
  display: inline-block
  padding: $pad
  width: 100%

.org-space-page-header-mobile-menu
  margin-left: -$pad
  margin-bottom: $pad
