.org-collections-fragment
  margin: 0 auto
  max-width: $card-grid-wide-width

  .org-collections-fragment-header
    display: flex
    align-items: center
    margin: 0 $pad*2
    +mobile-only
      display: block
      margin-top: $pad*2
      margin-bottom: $pad
    .org-collections-fragment-title
      +headline
      color: $text-gray-9
      flex-grow: 1
      +mobile-only
        display: inline
        padding-right: $pad/2
    .org-collections-fragment-actions
      flex-shrink: 0
    .org-collections-fragment-actions-mobile
      .text-button
        padding: $pad/2

  .divider
    width: calc(#{$card-grid-wide-width - $pad*2})
    margin: 0 $pad
    margin-bottom: $pad*2
    +mobile-only
      max-width: calc(100% - #{$pad}*2)

  .org-collections-fragment-add
    width: 100%
