.org-resources-fragment
  color: $contrast
  margin: 0 auto
  max-width: $card-grid-wide-width

  .org-resources-fragment-header
    display: flex
    align-items: flex-end
    margin: $pad*2
    margin-bottom: $pad

    &-title
      flex-grow: 1
      h2
        +headline
        margin: 0
        color: $text-gray-9
      .subtitle
        color: $text-gray-4

    .btn-default,
    .text-button
      flex-shrink: 0
      display: flex
      user-select: none
      -webkit-user-select: none

      .icon
        font-size: $font-smaller
        margin-left: $pad/2
        transition: all 0.2s ease-in

      .icon-open
        transform: rotate(180deg)

    .text-button
      +tablet-and-above
        display: none
    .btn-default
      +mobile-only
        display: none

  .divider
    width: calc(#{$card-grid-wide-width - $pad*2})
    margin: 0 $pad

  .org-resources-fragment-filter
    margin: 0 $pad
    margin-top: $pad*2
    background: $white
    max-width: calc(#{$card-grid-wide-width - $pad*2})
    +mobile_only
      margin-left: $pad
      margin-right: $pad
      width: auto

    .org-resources-fragment-filter-toggle

      .org-resources-fragment-filter-toggle-summary
        flex-grow: 1
        display: flex
        padding: $pad*2 $pad

        .org-resources-fragment-filter-toggle-summary-title
          margin-right: $pad*2
          width: $pad*6
          text-align: right
          display: inline-block

        .org-resources-fragment-filter-toggle-summary-text
          font-weight: $weight-7
          margin-right: $pad

    .org-resources-fragment-filter-section
      padding: $pad $pad
      &:first-child
        padding-top: $pad*2
        &.has-filters
          padding-top: 0
      &:last-child
        padding-bottom: $pad*2

      .org-resources-fragment-filter-section-title
        width: 60px
        margin-right: $pad*2
        text-align: right
        padding: 0.55em 0
        display: inline-block

      .org-resources-fragment-filter-section-content
        display: inline-block
        vertical-align: top
        width: calc(100% - 60px - #{$pad}*2)

  .org-resources-fragment-collections
    background: $background
    padding: $pad*3 0
