section.content.tab-analytics
  max-width: 100%
  padding: 0
  .list-loading
    padding: $pad*20
  .show-more-rows
    margin: $pad*2

.program-reports-nav
  max-width: 450px
  min-width: 420px
  margin: $pad*6 auto

.program-engagement-report
  text-align: center
  .list-view-item
    text-align: left

.program-collaboration-report
  text-align: center

.stats-grid-table
  margin: $pad*2 auto
  tr
    border-bottom: 2px solid $border
  tr:last-child
    border-bottom: none
  td
    width: 50%
    padding: $pad*1.5 $pad*1.5 $pad*1.5 $pad*2.5
    &:first-child
      border-right: 2px solid $border

.program-reports.filter-bar
  display: flex
  justify-content: center
  background: $white
  border: 1px solid $border

.aggr-stats-container
  margin: $pad*6 0
.aggr-stats
  display: flex
  justify-content: space-around
  max-width: 800px
  margin: $pad*2 auto


.top-border-card-tip
    max-width: 1000px
    margin: $pad*3 auto
    background: $white
    padding: $pad*3 0
    box-shadow: 0 2px 3px $border
    border-radius: 3px
    border-top: 5px solid $tip

section.content.tab-analytics
  .program-competency-report
    text-align: center
    .competency-tiles
      max-width: 820px
      margin: $pad*4 auto
      padding: 0px $pad
      img, .stats-bar-graph
        border-radius: 5px
        overflow: hidden
      &.solo-competency-tile
        max-width: 500px
      .competency-tile
    .competency-list
      min-height: 400px
      &.no-results
        display: flex
        justify-content: center
        align-items: center
    .list-loading
      min-height: 400px
      display: flex
      justify-content: center
      align-items: center
      padding: 0

.competency-time-filter
  text-align: left
  font-size: 16px
  font-weight: 900
  color: $text-gray-5
