.popover-dropdown
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  background-color: $white
  button
    width: 100%
  &-menu-options
    padding: $pad 0
    min-width: $pad*18
  &-menu-items
    cursor: pointer
    padding: $pad/2 $pad*5 $pad/2 $pad/2
    &.selected
      background-color: lighten($success, 20%)
      color: $white

@each $name, $color in $app-colors
  .popover-dropdown-menu-items.item-#{$name}
    transition: all 0.1s ease-in-out
    &:hover
      background-color: $color
      color: $white
      border-radius: 3px
