.Popover.warning
  .Popover-body
    color: #000

.profile
  .profile-spaces
    +pad-to-desktop-width
    margin-bottom: $pad * 4

  .empty-msg
    text-align: center

  .submissions-list
    li
      height: 250px
      margin-bottom: $pad
      +gallery(4 of 12)
      +mobile-only
        +gallery(12 of 12)
        float: none
        width: 100%
    .microcredential-card-view-all
      +browse_mc_card(4, 12, 12)
      height: 250px

    +mobile_only
      width: 100%

  .profile-spaces, .collections-list, .resources-list, .submissions-list
    margin-bottom: $pad*4
    +mobile-only
      margin-top: $pad*2

  .collections-list, .resources-list
    & > h2
      text-align: center

  .content
    padding-top: $pad*4
    position: relative
    +mobile_only
      width: 100%
    margin: 0 auto

    .saving-settings
      text-align: center
      padding-top: $pad*20
      background-color: rgba($background, 0.35)
      position: absolute
      left: 0
      top: -$pad*4
      bottom: 0
      right: 0
      z-index: $z-10

    .micro-credentials-sws
      h1 > strong
        color: $highlight
        font-weight: $weight-9

  form, .edit-subjects, .edit-grades
    width: $reading_width * 0.6
    margin: $pad*6 auto
    +mobile_only
      width: 100%
      padding: 0 $pad

  .edit-subjects, .edit-grades
    .username
      display: none
    .title
      margin-bottom: $pad*1.5
      display: block
    .check-list
      .item
        border-bottom: 1px solid $text-gray-3
        &:first-child
          border-top: 1px solid $text-gray-3

  .overview
    background: $background
    width: $reading_width
    +mobile_only
      width: 95%
    margin: 0 auto

    & > blockquote
      form
        width: auto
        .textarea
          &.view
            textarea
              display: none
            .edit-inline-activate
              position: absolute
              left: -50px
              bottom: -50px
          label
            display: none
        &.edit
          textarea
            height: $pad * 17
          .description
            display: none
      .description
        text-align: left
      font-size: $font-large
      padding: 0 $pad*5
      position: relative
      border-left: 1px solid #ccc
      margin: $pad*6 $pad*3
      &::before
        font-family: serif
        font-weight: $weight-9
        opacity: 0.15
        content: '\2018\2018'
        font-size: $font-jumbo*2
        position: absolute
        left: -$pad*3
        top: -$pad*6
      & > a
        font-size: $font-larger
        text-align: center
        color: #000
        border-bottom: 2px solid $tip
        +inline-block
        +mobile_only
          font-size: $font-large
          border: none
          text-decoration: underline
          color: $tip

  .feature-heading
    +striked-feature-heading

  .bb-feature-heading
    display: block
    margin-bottom: $pad*3
    margin-top: $pad*3
    color: $black
    +striked-feature-heading

  &.users
    &-saves, &-submissions, &-rooms
      .bb-feature-heading
        text-align: left
        border: none
        color: $text-gray-6


.profile-settings
  +group
  .set-avatar, .set-cover-profile
    margin-bottom: $pad*4
  .contain
    text-align: center
    width: $reading_width / 2
    margin: 0 auto
    margin-top: $nav
    padding-top: 10%
    .title-heading-description
      margin: $pad 0 $pad*4
    .logo-icon
      height: 110px
      width: 100px
    .actions
      margin-top: $pad*4
    +media_max_width($reading_width / 2)
      width: auto
      margin: 0 $pad


.profile-header-title
  &:hover
    color: #000
