.reset-password-msg
  color: #fff
  text-align: center
  width: 500px
  +mobile-only
    width: 100%
  margin: 10% auto
  font-size: $font-larger - 3
  .icon
    font-size: $font-jumbo * 2
  p
    margin: $pad*3 0
  .btn-success-outline-white
    border-color: #fff
  .sub-text
    margin-top: $pad*2
    font-size: $font-base

.authentication_widget
  +mobile-only
    .forgot-password .actions .btn-warning
      font-size: $font-large

  &.reset-password-confirm, &.reset-password-expired
    +transition-property(none)
    .close-btn
      display: none
