.resources-grid
  +group
  width: $reading_width
  margin: 0 auto
  +media_max_width($reading_width)
    width: auto
    margin: 0 $pad
  ul
    @include container($reading_width)
    +group
    li
      @include span(4)
      margin-bottom: gutter()*2
      +mobile-only
        @include span(6)
        margin-bottom: gutter()*2
      .resource-card-article, .resource-card-book, .resource-card-video, .resource-card-website, .resource-card-product, .resource-card-app, .resource-card-webtool, .resource-card-lessonplan, 
      .resource-card-activity, .resource-card-infographic, .resource-card-presentation, .resource-card-sp_course
        height: 200px
        +border-radius(4px)
        .resource-card-type
          +border-top-left-radius(3px)