.roles-popover-button
  .roles-checklist
    width: 320px
    max-height: 200px
    overflow-y: auto
  &-apply
    display: flex
    justify-content: center
    margin-top: $pad
    padding-top: $pad
    border-top: 1px solid $text-gray-3
    button
      margin: 0 $pad
    button:first-child
      margin-right: 0
