.space-type-selector
  padding-top: 50px
  padding-bottom: 50px

  .space-type-header
    font-weight: $weight-8
    font-size: 18px
    padding: 3 * $pad
    text-align: center

  .space-types
    width: 100%
    max-width: 600px
    padding: $pad
    margin: 0 auto

    .space-type
      margin-bottom: 3 * $pad

      &.program-space
        .target
          background-color: $blue

      &.collaborative-space
        .target
          background-color: $highlight

      .action
        text-align: center
        padding-bottom: $pad

        .target
          color: #FFF

      .description
        color: #b3b3b3
        text-align: center


  .space-cancel-section

    .space-cancel
      text-align: center
