.space-picker
  display: flex
  flex-direction: column
  overflow: auto

  .space-picker-title
    text-align: center

  > .search-input

  > .enter
    text-align: right
    margin-bottom: $pad*2

  > .loading
    margin: $pad*2 auto

  .space-items
    overflow-y: auto
    padding: 0 1px
    .space-item
      cursor: pointer
