.space-show
  > .content
    margin: 0 auto
    padding-top: $pad*3
    padding-bottom: $pad*5
    min-height: calc(100vh - 200px)
    +pad-to-reading-width

    &.tab-dashboard
      max-width: $desktop
      padding: 0
      .graph-wrapper canvas
        margin: auto

  .space-member-cards
    box-shadow: 0 1px 1px alpha-it($black, $opacity-ghost)
    border-radius: 3px
    .space-member
      border-bottom-width: 0
      &:first-child
        border-radius: 3px 3px 0 0
        border-bottom-width: 0
      &:last-child
        border-radius: 0 0 3px 3px
        border-top-width: 1px
    .space-invite-card
      border-width: 1px


  .space-members
    &-toolbar
      .segmented-group
        margin: $pad*2 auto
        width: $pad*25
    &-show-more
      text-align: center
      width: 100%
      .btn-success
        margin: $pad*2 auto $pad*3 auto


  .space-programs
    .space-list
      margin-bottom: $pad
    .space-section-heading
      display: block
      margin-bottom: $pad
      margin-top: $pad


  .space-settings-page-nav-buttons
    display: flex
    justify-content: center
    .btn-first
      margin-right: $pad

  .space-highlight-empty-container, .space-files-empty-container
    background-color: $text-gray-2
    padding: $pad * 2
    border-radius: $button-border-radius
    +mobile-only
      margin: 0 10px

    .title
      border-bottom: 1px solid $text-gray-3
      padding-bottom: $pad*2
      margin-bottom: $pad*2
      font-size: $font-large

    .explanation-container
      .button-explanation, .tap-explanation, .header
        display: flex
        align-items: center
        padding-bottom: $pad*2

      .text
        display: inline-block
      .img
        display: inline-block
        background-size: cover
        width: 200px
        height: 200px
        margin-right: $pad

        +mobile-only
          width: 100px
          height: 100px
