.sitenav-subnav
  background: $purple
  font-size: $font-base
  padding: 0 $pad
  border-bottom: 1px solid alpha-it($white, $opacity-ghost)
  +mobile-only
    padding: 0
    background: $white
  .list-tab-control-list
    max-width: $desktop
    margin: 0 auto
  .list
    +mobile-only
      &-tab-control-list
        display: flex
        .list-item
          flex: 1
          +justify-content(center)
    &-item
      padding: $pad/2 $pad
      background: $purple
      border-right: 1px solid alpha-it($white, $opacity-weakest) !important
      &.active
        font-weight: normal
        background: $highlight
        a
          color: $white
      a
        color: alpha-it($white, $opacity-strongest)
        +mobile-only
          display: flex
          padding: $pad*1.5 0
          +justify-content(center)
          & > span
            display: none
        &[data-icon="G"]
          &::before
            font-size: $font-large + 4
        &::before
          font-size: $font-base
          top: 0.2em
          +mobile-only
            font-size: $font-large + 4
        &.sitenav-subnav-mc
          &::before
            font-size: $font-base
