.tile-group
  div.tile-group-wrapper
    display: flex
    flex-wrap: wrap
    list-style: none
    margin: 0 -1px -1px 0
    .tile-group-item
      border-right: 1px solid alpha-it($white, $opacity-strong)
      border-bottom: 1px solid alpha-it($white, $opacity-strong)
      text-align: center
      +inline-block

