.url-picker
  text-align: center
  color: $contrast
  &-title
    text-align: left
    padding-bottom: $pad
  input.url-picker-url
    width: 100%
    +placeholder
      text-transform: none
  &-message
    min-height: $pad*5.5
    padding: $pad*1.5
  &-error
    color: $error
  &-success
    color: $success
