.welcome-index

  // could break into partial...but this page will change frequently...
  header.welcome-header
    // background-image: url(../images/home/background.jpg)
    +background_cover
    position: relative
    +group
    padding-top: 80px
    padding-bottom: 220px
    +transition(padding 0.5s cubic-bezier(0.7, 0, 0.3, 1))
    text-align: center
    a.welcome-header-logo
      position: absolute
      left: $pad
      top: $pad
      display: block
      p
        margin: 0
      .logo-icon
        width: $nav_logo_width
        height: $nav
        path
          fill: white !important
    a.btn-white-outline.rounded
      position: absolute
      right: $pad
      top: $pad
      font-size: $font-large
    h1
      margin: 0
      text-align: center
      small
        +mon-font
        color: $yellow
        letter-spacing: $spacing-tight
        font-weight: $weight-4 !important
        font-size: $font-larger
      .title
        +serif
        font-weight: $weight-9
        color: white
        font-size: $font-jumbo
    .btn-warning.rounded
      +inline-block
      font-size: $font-large
      padding: $pad $pad*5
      margin-top: $pad*2
    .welcome-header-desktop
      $desktop_image_width: (1131px / 2.3)
      $desktop_image_height: (744px / 2.3)
      position: absolute
      bottom: -($desktop_image_height / 2.5)
      left: 50%
      margin-left: -($desktop_image_width/2)
      width: $desktop_image_width
      height: $desktop_image_height
      display: block
      +background_cover
      // background-image: url(../images/home/computer.png)
    +desktop-large
      padding-bottom: 320px
      .welcome-header-desktop
        $desktop_image_width: (1131px / 1.5)
        $desktop_image_height: (744px / 1.5)
        bottom: -($desktop_image_height / 2.5)
        margin-left: -($desktop_image_width/2)
        width: $desktop_image_width
        height: $desktop_image_height
    +desktop-only
      a.welcome-header-logo
        left: 50%
        margin-left: -($desktop/2)
      a.btn-white-outline.rounded
        right: 50%
        margin-right: -($desktop/2)
    +mobile_only
      padding-bottom: 150px
      h1
        small
          font-size: $font-large
        .title
          font-size: ($font-larger - 3px)
      .welcome-header-desktop
        $desktop_image_width: (1131px / 3.7)
        $desktop_image_height: (744px / 3.7)
        bottom: -($desktop_image_height / 2.5)
        margin-left: -($desktop_image_width/2)
        width: $desktop_image_width
        height: $desktop_image_height

  h2.welcome-header-heading
    text-align: center
    margin-top: 170px
    font-size: ($font-largest + 3px)
    letter-spacing: $spacing-tighter
    font-weight: $weight-3
    color: tint(black, 10%)
  hr.welcome-header-hr
    display: block
    width: 40%
    margin: $pad*5 auto $pad*4 auto
    border: 1px solid shade(white, 10%)

  +desktop-large
    h2.welcome-header-heading
      margin-top: 230px
    hr.welcome-header-hr
      width: $mobile
  +desktop-only
    h2.welcome-header-heading
  +mobile_only
    h2.welcome-header-heading
      margin: 120px 15% 0 15%
      font-size: $font-large

  // People Section

  .welcome-people
    text-align: center
    $welcome-people-avatar: 90px
    .welcome-people-subheading
      color: shade(white, 20%)
      +mon-font
      +trans-up
      letter-spacing: $spacing-looser
      font-size: ($font-large + 8px)
      margin-bottom: $pad*4
    ul
      +container($reading_width)
      +group
    .welcome-people-person
      +show-grid(12)
      +span(4)
      height: 200px
      margin-bottom: gutter()*2
      a
        +inline-block
    .welcome-people-person-avatar
      +inline-block
      width: $welcome-people-avatar
      height: $welcome-people-avatar
      +background_cover
      border-radius: 50%
    .welcome-people-person-name
      display: block
      margin-top: $pad
      +mon-font
      color: tint($contrast, 10%)
      letter-spacing: $spacing-tight