@import variables
@import expressionui

html, body
  width: 100%
  height: 100%


body.index
  background-image: url(../images/design-draw-computer.jpg)
  +background_cover
  color: white
  .main
    background: rgba(black, 0.55)
    padding-top: $pad*2
    width: 100%
    height: 100%
    .avatar
      $avatar: 90px
      background-image: url(http://www.gravatar.com/avatar/6be8633c004157fb91bd8026b71f99f5.png)
      +background_cover
      width: $avatar
      height: $avatar
      margin: $pad auto 0
      +border-radius($avatar)
    h1
      font-size: 36px
      color: white
      text-align: center
    p.desc
      font-weight: normal
      color: rgba(white, 0.7)
      width: 700px
      margin: 0 auto
      font-size: 20px
      line-height: 30px
      +transition-property(color)
      +transition-duration(0.5s)
      +transition-timing-function(ease-in)
      +text-shadow(rgba(black, 0.8) 0 1px 0)
      a 
        color: $main
        &:hover
          color: $highlight
          +transition(0.225)
      +mobile_only
        width: auto
        margin: 0 $pad/2
        font-size: 16px
        line-height: 28px
    ul.links
      text-align: center
      margin-top: $pad
      padding: 0
      li
        +inline_block
        a
          padding: 0 $pad/2
          font-size: 30px
          color: white
          +transition-property(color)
          +transition-duration(0.5s)
          +transition-timing-function(ease-in)
          +mobile_only
            font-size: 40px
          &:hover
            color: $highlight
            +transition(0.225)
