@import variables
@import bourbon
@import eui/utilities/index
@import eui/atoms/index
@import mixins

.fadeIn
  +animation-name(fadeIn)
  +animation-duration(0.5s)
  +animation-timing-function(ease-in-out)


html, body
  width: 100%
  height: 100%

.serif
  +serif


// ---------
// Homepage
// ---------
body.index
  color: white
  @import views/homepage


// ---------
// Article Page
// ---------
@import views/article