<div class="nav">
  <a class="avatar" href="/">
    <div class="icon-arrow-left"></div>
    <div class="avatar"><%= image_tag 'https://d3vv6lp55qjaqc.cloudfront.net/items/103W0o16053h3m261211/new-face.jpg', class: 'lazyload' %></div>
  </a>
  <ul class="menu">
    <% data.site.navigation.each do |item| %>
      <li>
        <%= link_to item.title, item.url, class: "menu-item #{item.title}" %>
      </li>
    <% end %>
  </ul>
</div>