<div class="nav">
  <a class="avatar" href="/">
    <i class="icon-angle-left"></i>
    <div class="avatar"><%= image_tag 'media/site/avatar.webp', class: 'lazyload' %></div>
  </a>
  <ul class="menu">
    <% data.site.navigation.each do |item| %>
      <li>
        <%= link_to item.title, item.url, class: "menu-item #{item.title}" %>
      </li>
    <% end %>
  </ul>
</div>