body.index {
  color: $white;
  @import "homepage/hero";
  @import "homepage/my-features";
  @import "homepage/speaking";
  @import "homepage/showcase_power";
  @import "homepage/bb-splash";
  @import "homepage/blog-posts";
  @import "homepage/resume";
  a.avatar {
    visibility: hidden;
  }
  .header-subtitle {
    color: $text_lt_light;
    font-size: $text_large;
    letter-spacing: $lspace_looser;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    &.pink {
      color: #F75A9A;
      margin-bottom: $space_md;
    }
  }

  .work {
    background-image: linear-gradient(-90deg, #000000 0%, #434343 100%);
    text-align: center;
    padding: $space_md 0;

    img {
      border-radius: 4px;
      display: inline-block;
      margin: $space_xs;
    }
  }
}