.resume.resume_index
  background: $white
  $resume-width: ($screen-xl-min - 300px)

  .meta-title
    color: $tip
    text-transform: uppercase
    font-size: $text-large


  @import resume/header
  @import resume/jobs