.resume.resume_index
  background: $white
  +backhome
  $resume-width: ($desktop - 200px)

  .meta-title
    color: $tip
    text-transform: uppercase
    font-size: $font-large


  @import resume/header
  @import resume/jobs