.work.work_bloomboard
  .header
    +backhome
    h1
      text-align: center
    .nav .work
      +active-nav
  
  .three-photo
    img
      +inline-block
      width: (100%/3)
      object-fit: cover
      height: 200px

