.work.work_index

  .header
    background-image: url(http://s.jasoncypret.com/440m3P1Q1S0O/Image%202017-02-22%20at%201.35.22%20PM.png)
    +group
    padding: $pad*2 0
    +backhome
    h1
      text-align: center
      color: $white
    .nav .work
      +active-nav
  .gallery
    text-align: center
    img
      border-radius: 4px
      +inline-block
      margin: $pad/6