=base-heading-styles
  margin: 20px 0 10px
  padding: 0
  +font-smoothing(antialiased)
  cursor: text
  position: relative


// Use for post style

=h1($color: tint(black, 20%))
  +base-heading-styles
  font-size: ($font-base +16px)
  margin-bottom: 4px
  line-height: 1.2
  font-weight: $weight-9
  color: $color

=h2($color: tint(black, 20%))
  +base-heading-styles
  font-size: $font-larger
  line-height: 1.2
  font-weight: $weight-7
  color: $color

=h3($color: tint(black, 20%))
  +base-heading-styles
  font-size: ($font-large + 6px)
  font-weight: $weight-7
  color: $color
  &.feature-heading
    +feature-heading

=h4($color: tint(black, 30%))
  +base-heading-styles
  font-size: ($font-large + 2px)
  font-weight: $weight-7
  color: $color

=h5($color: tint(black, 30%))
  +base-heading-styles
  font-size: $font-large
  font-weight: $weight-7
  color: $color

=h6($color: tint(black, 30%))
  +base-heading-styles
  font-size: $font-base
  font-weight: $weight-7
  color: $color

// Styled headings

=feature-heading($font-size: ($font-base + 1px))
  +mon-font
  +trans-up
  letter-spacing: $spacing-looser
  font-weight: $mon-weight-10
  font-size: $font-size
  margin: 20px 0 10px

=striked-feature-heading($bg-color: $background)
  text-align: center
  line-height: 0
  border-bottom: 1px solid rgba(#000000, 0.2)
  span
    &:first-child
      padding-left: $pad
    &:last-child
      padding-right: $pad
    background-color: $bg-color

=headline($font-size: ($font-largest + 2px))
  font-weight: $weight-10
  font-size: $font-size
  margin: 20px 0 10px
  &.copy-top
    margin-top: 0
  &.copy-bottom
    margin-bottom: 0
  +mobile-only
    font-size: $font-large
    font-weight: $weight-7

=headline-copy-sup
  font-size: $font-base
  +trans-up
  font-weight: $weight-7
  margin: 20px 0 10px

=headline-copy-sub
  font-size: $font-base
  font-weight: $weight-4
  margin: 10px 0 10px


=copy
  font-size: $font-base
  font-weight: $weight-4

=copy-large
  font-size: $font-large
  font-weight: $weight-4

=label
  display: block
  color: $label-color
  font-size: $font-base
  line-height: $font-base * 2
  cursor: pointer
  &.inline
    +inline-block

=form-headline
  font-weight: $weight-9
  font-size: $font-larger

=form-title
  font-weight: $weight-7
  font-size: $font-large

=page-title
  +mon-font
  font-size: $font-jumbo
  margin: 0
