@import post-style
@import base-headings

=card-title($dark: false)
  +mon-font
  +multiline_text_truncate(2)
  font-weight: $weight-4
  letter-spacing: $spacing-tighter
  font-size: ($font-large + 1px)
  line-height: ($font-large + 2px)
  color: white
  +transition(0.12)
  +text-shadow(rgba(black, 0.5) 0 1px 5px)
  &:hover
    color: tint($tip, 20%)
  @if $dark
    color: tint(black, 20%)
    +text-shadow(none)


@mixin item-card-title($dark: false)
  +card-title($dark)
  letter-spacing: $spacing-tight
  font-size: ($font-large + 4px)
  line-height: ($font-large + 5px)

=org-page-title
  +oswald
  line-height: $font-larger
  font-size: $font-larger
  margin: 20px 0 10px

=initiative-title
  font-size: $font-jumbo
  font-weight: $weight-9

=topic-picker-title
  font-size: $font-jumbo
  font-weight: $weight-9
  +mobile-only
    font-size: $font-larger

=topic-picker-subtitle
  font-size: $font-larger
  font-weight: $weight-1
  +mobile-only
    font-size: $font-large

=topic-picker-main-text
  font-weight: $weight-9
  font-size: $font-larger
  +mobile-only
    font-size: $font-large

=topic-picker-hint
  font-size: $font-large
  font-style: italic
  +mobile-only
    font-size: $font-base

.date-item
  +mon-font
  color: $text-gray-8
  font-weight: $weight-4
  text-align: center
  .date
    font-size: $font-jumbo
    line-height: $font-jumbo - 6
