=icon-font
  font-family: $icon-font
  font-weight: normal !important
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-transform: none !important
  vertical-align: baseline

=icon-inline
  +icon-font
  position: relative
  content: attr(data-icon)
  vertical-align: baseline
  line-height: 0
  font-size: 110%
  top: 0.2em