=grade-subject-label
  +trans-small-caps
  padding: 0 $pad $pad*0.2 $pad
  +mon-font
  font-weight: $weight-4
  margin-right: $pad/2
  border-radius: 2px
  border-radius: 2px
  line-height: $font-small
  +mobile-only
    line-height: $font-smaller
    margin-bottom: $pad

.label-list
  display: flex
  align-items: baseline

.label-grade
  +grade-subject-label
  border: 1px solid $success

.label-subject
  +grade-subject-label
  border: 1px solid $highlight


.user-school-label
  +trans-caps
  +mon-font
  color: $text_gray_5
  padding: $pad/5 0

.user-org-label
  align-self: baseline
  color: $text_gray_9
  font-weight: $weight-6
  +trans-small-caps
  border-bottom: 2px solid $tip
  padding-bottom: $pad/5
  font-size: ($font-base)+1


.user-date
  font-size: $font-base
  color: $text_gray_6
  font-weight: $weight-6
  margin-right: $pad*2
  &-title
    +trans-small-caps
    margin-right: $pad/2


.admin-search-msg
  font-size: $font-larger
  color: $text-gray-6
  font-weight: $weight-4
  text-align: center
  +mobile-only
    font-size: $font-large
  &-term
    font-weight: $weight-7
    color: $black
  &-error
    +mon-font
    +trans-small-caps
    color: $text-gray-4
    font-size: $font-large+4
    letter-spacing: $spacing-loose
