.notify
  display: block
  @mixin notify-styles
    display: block
    width: auto
    height: auto
    left: 0
    top: 0
    right: 0
    position: fixed
    z-index: $z-9
    visibility: visible
    padding: $pad $pad*4
    text-align: center
    +transform(translateY(0%))
    +transition-property(transform)
    +transition-duration(200ms)
    +transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1))
    &.hidden
      +transform(translateY(-100%))
  &-close
    display: block
    position: absolute
    overflow: hidden
    font-size: $font-large
    text-align: center
    +icon_font
    color: $white
    cursor: pointer
    +transition-property(font-size)
    +transition-duration(200ms)
    +transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1))
    right: $pad
    +middle
    &:hover
      font-size: $font-larger
  &-message
    color: $white
    font-size: $font-large
  &-success
    +notify-styles
    background: $success
  &-warning
    +notify-styles
    background: $info
  &-tip
    +notify-styles
    background: $tip
  &-error
    +notify-styles
    background: $error

.in-page
  &-dialog
    &-success, &-tip, &-warning, &-error
      padding: $pad*2
      border: 1px solid alpha-it($black, $opacity-weaker)
      border-radius: $pad - 6
      background-color: alpha-it($black, $opacity-ghost)
      h3
        padding-top: 0
        margin-top: 0
    &-success
      background-color: alpha-it($success, $opacity-weakest)
      border-color: $success
    &-tip
      background-color: alpha-it($tip, $opacity-weakest)
      border-color: $tip
    &-warning
      background-color: $yellow
      border-color: $accent
    &-error
      background-color: alpha-it($error, $opacity-weakest)
      border-color: $error
