@import buttons/icon-button

@import buttons/icon-button-group

@import buttons/global-buttons

@import buttons/btn-card

@import buttons/collection-header-buttons

@import buttons/text-buttons

@import buttons/active-outline-buttons

@import buttons/jumbo-icon-button

@import buttons/border-button

@import buttons/upload-button

@import buttons/floating-button

// ----------------
// Icon In Buttons
// ----------------

[data-icon]:before
  +icon-inline
  padding-right: $pad/1.5

.icon-left
  &:before
    +icon-inline
    padding-right: $pad/1.5
  &:after
    content: ''
    display: none

.icon-right
  &:after
    +icon-inline
    padding-left: $pad/1.5
  &:before
    content: ''
    display: none


// -------------------------
// Modal Buttons
// -------------------------

@import buttons/modal-buttons


// -------------------------
// btn-link
// -------------------------

// expand and document

// This is used in onboarding
.btn-link
  cursor: pointer
  color: white
  opacity: 0.8
  font-weight: 700

  &:hover
    opacity: 1

=goto-link()
  font-weight: 700
  margin-left: 5px
  border-bottom: 3px solid #5fc1e3
  color: #fff

  &:hover
    color: #fff

.goto-link
  +goto-link()
