=card-label
  background: $info
  padding: 0 $pad/2 $pad/10 $pad/2
  margin-top: $pad*1.5
  display: inline-block
  color: rgba(0,0,0,0.7)
  font-weight: $weight-7
  &-icon
    margin-right: $pad/2
    font-size: $font-large
    font-weight: $weight-7
    -webkit-font-smoothing: auto
    -moz-osx-font-smoothing: auto
  &-text
    text-transform: uppercase
    font-size: $font-smallest
    display: inline
.mc-badge 
  +card-label