$gradient-pink: rgba(191,123,182,0.83)
$gradient-blue: rgba(103,178,227,0.83)

=gradient-background($left_color, $right_color)
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  color: $white
  width: 100vw
  height: 100vh
  background-image: linear-gradient(to right, $gradient-pink, $gradient-blue)
  +mobile-only
    width: initial

  strong
    font-weight: $weight-9
    color: $yellow

.gradient-background
  &-content
    width: 500px

  &-pink-to-blue
    +gradient-background($gradient-pink, $gradient-blue)
