// Bring in loaders `utilities/_vendor.sass`

=sk-spinner-circle-background($colors-list)
  @each $name, $color in $colors-list
    &.#{$name}
      .sk-circle
        visibility: visible
        &:before
          background-color: $color

=sk-spinner-three-bounce-background($colors-list)
  @each $name, $color in $colors-list
    &.#{$name}
      .sk-bounce
        background-color: $color

.sk-spinner.sk-spinner-circle
  width: 100px
  height: 100px
  +sk-spinner-circle-background($app-colors)

.loading-default.sk-spinner.sk-spinner-circle
  width: 100px
  height: 100px
  +sk-spinner-circle-background($app-colors)

.sk-spinner.sk-spinner-three-bounce
  +sk-spinner-three-bounce-background($app-colors)

.loading-default.sk-spinner.sk-spinner-three-bounce
  +sk-spinner-three-bounce-background($app-colors)

.sk-spinner
  &.subtle
    opacity: $opacity-base

.small
  &.sk-spinner-three-bounce.sk-spinner
    width: 35px

  &.sk-spinner-three-bounce div
    width: 10px
    height: 10px

  &.sk-spinner.sk-spinner-circle,
  &.loading-default.sk-spinner.sk-spinner-circle
    width: 50px
    height: 50px
