//  deprecating
.Popover
  &-body
    display: inline-flex
    flex-direction: column
    padding: $pad
    background: $white
    color: $white
    border-radius: $pad/2
    z-index: $z-9
    +box-shadow(rgba($black, .3) 0 1px 15px)

  &.error
    .Popover-body
      color: $error

  &.warning
    .Popover-body
      color: $black

  &.closeable
    .Popover-body
      padding-right: $pad * 3
      .close-icon
        position: absolute
        right: $pad - 3
        top: $pad
        cursor: pointer
        font-size: $font-micro



  &-tipShape
    z-index: $z-10
    fill: $white

  &-tip
    z-index: $z-10

  +mobile-only
    width: 100%
    left: 0
    &-body
      border-radius: 0

// Use this version when possible
.bb-popover
  position: absolute
  z-index: $z-9
  +mobile-only
    width: 100%
    left: 0 !important

  &-content
    background: $white
    padding: $pad 0
    box-shadow: 0 1px 15px alpha-it($black, $opacity-weaker)
    border-radius: 2px
    &-header
      display: flex
      justify-content: flex-end
      align-items: center
      padding: $pad/2 $pad
      &-title
        flex-grow: 1
    &-body
      padding: $pad/2 $pad
    +mobile-only
      width: 100%

  &-top
    padding: $pad
    .bb-popover-arrow
      top: calc(100% - 10px)
      transform: rotate(180deg)
      margin-left: -7px

  &-bottom
    padding: $pad
    padding-top: $pad*1.5
    .bb-popover-arrow
      margin-top: -7px
      margin-left: -7px

  &-left
    padding: $pad
    .bb-popover-arrow
      transform: rotate(90deg)
      left: calc(100% - 10px)
      margin-left: -5px
      margin-top: -3px

  &-right
    padding: $pad
    padding-left: $pad*1.5
    .bb-popover-arrow
      transform: rotate(-90deg)
      margin-left: -9px
      margin-top: -3px

  .bb-popover-arrow
    position: absolute

  a.bb-popover-close-button
    padding: 0
    +user-select-none

  // themes
  &-light
    color: $contrast
    .bb-popover-content
      background: $white
      &-header
        &-title
          color: alpha-it($black, $opacity-base)
    .bb-popover-arrow
      polygon
        fill: $white
    .has-background
      background: $background

  &-dark
    color: $white
    .bb-popover-content
      background: $black
      &-header
        &-title
          color: alpha-it($white, $opacity-base)
    .bb-popover-arrow
      polygon
        fill: $black
    .has-background
      background: $text-gray-9
