
// ---------
// Icon Font
// ---------

+font-face('#{$icon-font}', $file-path: '#{$fonts-path}#{$icon-font}', $file-formats: eot woff ttf svg)

// ----------
// Text Color
// ----------

+text-colors($app-colors)
+text-colors($extended-colors)
+text-colors($text-gray-colors)


// ----------------
// Typography Atoms
// ----------------

.collection-card-title
  +card-title
  &-dark
    +card-title(true)

.collection-item-card-title
  +item-card-title
  &-dark
    +item-card-title(true)

.feature-heading
  +feature-heading

.org-page-title
  +org-page-title

.headline
  +headline
  &-copy-sup
    +headline-copy-sup
  &-copy-sub
    +headline-copy-sub

.copy
  +copy
  &-large
    +copy-large

.bb-typography
  &.bb-placeholder
    font-size: $font-small
    color: $text-gray-5
    font-weight: $weight-4

  &.bb-feature-heading
    font-size: $font-base
    line-height: $font-base
    +trans-up
    font-family: $montserrat
    letter-spacing: $spacing-loose
    color: $text-gray-5

  &.bb-subtitle
    font-size: $font-smallest
    color: $text-gray-5
    font-weight: $weight-4

  &.bb-heading
    font-size: $font-jumbo
    line-height: $font-jumbo
    font-weight: $weight-8

label
  +label

.initiative-title-text
  +initiative-title

.page-title
  +page-title


// --------------------
// Typography Organisms
// --------------------

.post-style
  +post-style

.no-results-msg
  font-size: $font-larger
  color: $text-gray-9
  font-style: italic

.popover-small-heading
  +font-stack
  +trans-up


.header-link
  +mon-font
  color: $text-gray-7
  font-size: 14px
  &:hover
    color: darken($text-gray-7, 10%)
