@charset "UTF-8";

@font-face {
  font-family: "jasonicon";
  src:url("/fonts/jasonicon.eot");
  src:url("/fonts/jasonicon.eot?#iefix") format("embedded-opentype"),
    url("/fonts/jasonicon.woff") format("woff"),
    url("/fonts/jasonicon.ttf") format("truetype"),
    url("/fonts/jasonicon.svg#jasonicon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "jasonicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "jasonicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-left:before {
  content: "\61";
}
.icon-dribbble:before {
  content: "\63";
}
.icon-pintrest:before {
  content: "\65";
}
.icon-github:before {
  content: "\62";
}
.icon-arrow-down:before {
  content: "\64";
}
.icon-arrow-right:before {
  content: "\66";
}
.icon-block-question:before {
  content: "\67";
}
.icon-arrow-left:before {
  content: "\74";
}
.icon-arrow-up-right-from-square:before {
  content: "\75";
}
.icon-book-sparkles:before {
  content: "\68";
}
.icon-charging-station:before {
  content: "\76";
}
.icon-cloud-arrow-down:before {
  content: "\77";
}
.icon-cubes:before {
  content: "\78";
}
.icon-display-chart-up:before {
  content: "\69";
}
.icon-figma:before {
  content: "\6a";
}
.icon-handshake-angle:before {
  content: "\6f";
}
.icon-html-5:before {
  content: "\70";
}
.icon-laptop-code:before {
  content: "\6b";
}
.icon-laptop-mobile:before {
  content: "\6c";
}
.icon-rails:before {
  content: "\73";
}
.icon-react:before {
  content: "\72";
}
.icon-swap-arrows:before {
  content: "\6d";
}
.icon-swift:before {
  content: "\71";
}
.icon-wand-magic-sparkles:before {
  content: "\6e";
}
