.nav {
  position: absolute;
  top: $space_xs/3;
  left: 0;
  width: 100%;
  z-index: $z-10;
  display: flex;
  justify-content: space-between;
  padding: $space_xs $space_sm;
  a.avatar {
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.1);
      transition: transform 0.2s;
    }
    $avatar: 40px;
    width: $avatar;
    height: $avatar;
    display: flex;
    align-items: center;
    img {
      border-radius: $avatar;
      width: $avatar;
      height: $avatar;
      object-fit: cover;
    }
    .icon-angle-left {
      font-size: 20px;
      color: $white;
      margin-right: $space-xxs;
    }
  }
  ul.menu {
    li {
      display: inline-block;
      a.menu-item {
        @include outline-button($white);
        @include button-size($space_xs/1.5, $space_xs, $text_smallest, 80%);
        border-radius: 100px;
        color: $white;
        border-color: rgba($white, 0.1);
      }
    }
  }
}
