<div class="company-hero power">
  <div class="company-container">
    <div class="company-content">
      <%= image_tag "media/companies/power/shared/power-logo.svg", class: "lazyload company-logo", alt: "Power Logo" %>
      <h1 class="company-title">8 Years of Design-Led Transformation at Power</h1>
      <p class="company-description">A look inside how I helped scale a billion-dollar home remodeling company through UX leadership, systems thinking, and bold product innovation.</p>
    </div>
  </div>
  <%= image_tag 'media/homepage/power-splash.png', class: 'company-mockup lazyload' %>
</div> 