<h4 class="image-gallery-title caption">Playbook Highlights</h4>
<div class="image-gallery">
  <%= gallery_image "companies/power/Playbook-Figma.jpg", 
      title: "Playbook Figma Library: Infinite Possibilities",
      description: "Explore the Playbook Figma Library—a versatile toolkit packed with endless configuration options. From color schemes to layout variations and state changes, create unique interfaces that truly reflect your creative vision.",
      alt: "Power Playbook in Figma" %>
  
  <%= gallery_image "companies/power/playbook-top-components.png",
      title: "Top Components",
      description: "A visual deep-dive into the legacy app’s top components, from refined typography and flexible layouts to detailed tables, crisp icons, and dynamic cards. This graphic highlights how integrated design standards elevate the overall system." %>
</div> 