<div class="photo-content">
  <div class="photo-content__container">
    <div class="photo-content__grid">
      <div class="photo-content__column photo-content__column--left">
        <div class="photo-content__header" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
          <h2 class="photo-content__title">Work around very talented people.</h2>
          <p class="photo-content__description">With lots of unique blocks, you can easily build a page easily without any coding.</p>
        </div>
        <div class="photo-content__image photo-content__image--left" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
          <img src="https://finestwp.co/demos/html/shadepro/light/image/coworking/jpg/content1-img1.jpg" alt="" class="photo-content__img">
        </div>
      </div>
      <div class="photo-content__column photo-content__column--right">
        <div class="photo-content__image photo-content__image--right" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="400">
          <img src="https://finestwp.co/demos/html/shadepro/light/image/coworking/jpg/content1-img2.jpg" alt="" class="photo-content__img">
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    AOS.init({
      duration: 1000,
      easing: 'ease',
      once: true,
      offset: 100
    });
  });
</script>