




<div class="stats-masonry-intro">
  <%= image_tag '/images/companies/power/pb-logo.svg', class: 'stats-masonry-intro-logo lazyload', alt: "Playbook Logo" %>
  <p class="stats-masonry-intro-quote">&ldquo;The largest design system ever built for Ruby on Rails.&rdquo;</p>
</div>


<div class="stats-masonry">
  <!-- Column 1: 3 boxes -->
  <div class="stats-masonry__col">
    <div class="stats-item stats-item--box1 black">
      <p class="stats-item__subtitle">*Power Stats</p>
      <i class="icon-charging-station"></i>
      <h4 class="stats-item__title_sm">95%</h4>
      <p class="stats-item__description_small">
        Adoption in legacy platform
      </p>
    </div>
    <div class="stats-item stats-item--box2 black">
      <p class="stats-item__subtitle">*Power Stats</p>
      <i class="icon-cubes"></i>
      <h4 class="stats-item__title_sm">+23K</h4>
      <p class="stats-item__description_small">
        Components used across all apps
      </p>
    </div>
    <div class="stats-item stats-item--box3 blue">
      <i class="icon-cloud-arrow-down"></i>
      <h4 class="stats-item__title_sm">+2M</h4>
      <p class="stats-item__description">Downloads</p>
    </div>
  </div>

  <!-- Column 2: 2 boxes -->
  <div class="stats-masonry__col">
    <div class="stats-item stats-item--box4">
      <h4 class="stats-item__title">+350</h4>
      <h4 class="stats-item__description">
        Customizable</br>
        Components
      </h4>
    </div>
    <div class="stats-item stats-item--box5">
      <h4 class="stats-item__title_xl">5</h4>
      <h4 class="stats-item__description">
        Core</br>
        Platforms
      </h4>
      <div class="stats-item__icons">
        <i class="icon-rails"></i>
        <i class="icon-html-5"></i>
        <i class="icon-swift"></i>
        <i class="icon-figma"></i>
        <i class="icon-react"></i>
      </div>
    </div>
  </div>

  <!-- Column 3: 1 large callout (image) -->
  <div class="stats-masonry__col">
    <div class="stats-item stats-item--image">
      <video autoplay loop muted playsinline class="design-system-hero__video lazyload">
        <source src="/videos/video-images-playbook.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>
  </div>
</div>
<p class="stats-masonry-footnote">*Estimates based on stats from main platform ecosystem, Quote based on the number of view components available to the public</p>

<div class="stats-masonry-cta">
  <h5 class="stats-masonry-cta-title">Explore Playbook Live</h5>
  <a href="https://playbook.powerapp.cloud" class="btn btn--black" target="_blank">Browse the Website <i class="icon-arrow-up-right-from-square"></i></a>
  <p class="stats-masonry-cta-subtitle">Browse the code <a href="https://github.com/powerhome/playbook">Web</a> | <a href="https://github.com/powerhome/playbook-swift">Swift</a></p>
</div>