=btn-card($dark: false, $icon: false)
  @if $dark
    +outline_btn-styles(tint(black, 20%))
    color: rgba(black, 0.65)
    border-color: rgba(black, 0.25)
    &:hover
      border-color: $success
      color: black
      background: none
  @else
    +outline_btn-styles
    border-color: rgba(white, 0.7)
    &:hover
      border-color: $success
      color: white
      background: none

  font-size: $font-smaller
  border-radius: 100px

  @if $icon
    padding-left: 0
    padding-right: 0
    width: 30px
    height: 30px
    .icon
      font-style: normal
      +icon-font
      +font-smoothing(subpixel-antialiased)
      line-height: 0
      font-size: 140%
      position: relative
      top: 0.3em

  &.selected
    background: $success
    border-color: $success
    color: white
    .hide-hover-text, .hover-text
      +transition-property(width, opacity)
      +transition-duration(0.2s)
      +transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1))
      +inline-block
      overflow: hidden
    .hide-hover-text
      width: auto
      opacity: 1
      position: relative
    .hover-text
      width: 0%
      opacity: 0
      position: absolute
    &:hover
      background: saturate($success, 30%) !important
      border-color: saturate($success, 30%)
      color: white !important
      .hover-text
        width: auto
        opacity: 1
        position: relative
      .hide-hover-text
        width: 0%
        opacity: 0
        position: absolute