=collection-item-save-button($dark: false)
  .btn-card-pill.icon.save-button
    +btn-card($dark: false, $icon: true)
    margin-top: -($pad*3)
    border-color: darken(white,10%)
    color: white
    border-width: 2px
    font-size: $font-base
    line-height: $font-base/2
    background: rgba(0,0,0,0.4)
    &:hover
      background: rgba(0,0,0,0.4)
    &.saved
      background: $success
      border: 2px solid $success

    @if $dark
      display: block
      margin-top: -($pad*3)
      &.unsaved
        border-color: darken(white,20%)
        background: white
        color: black
        &:hover
          border-color: $success
          background: none
      &.saved
        color: white
        background: $success
        border-color: rgba(0, 0, 0, 0)
        &:hover
          background: darken($success, 5%)
          border-color: rgba(0, 0, 0, 0)

=collection-item-recommend-button($dark: false)
  .btn-card-pill
    +btn-card($dark: false, $icon: true)
    &.icon-left
      padding: ($pad/2+1px) $pad
      background: rgba(0,0,0,0.4)
      &:hover
        border-width: 2px
      &.selected
        background: $success
    @if $dark
      +btn-card($dark: true, $icon: true)
      &.icon-left
        background: transparent

=collection-item-card-source-favi($source-size: 12px)
  &-favi
    +inline-block
    width: $source-size
    height: $source-size
    margin-right: $pad/2

=collection-item-card-source-name($source-size: 12px)
  &-name
    +inline-block
    line-height: $source-size
    font-size: $font-smaller
    letter-spacing: $spacing-loose
    color: shade(white, 25%)

=collection-item-card-settings
  margin: 0 $card-quote-offset
  background: white
  +border-top-radius(4px)
  border: 1px solid $collection-resource-border
  border-width: 1px 1px 0

=collection-item-card-description($dark:false)
  font-size: $font-micro + 1px
  letter-spacing: $spacing-normal
  +multiline_text_truncate
  color: rgba(black, 0.8)
  @if $dark
    color: rgba(white, 0.9)

=collection-item-title-text($dark:false)
  & .title-text
    +card-title($dark)
    padding-right: $pad
    margin-top: 0
    margin-bottom: 0

=collection-item-title-duration($dark:false)
  & .title-duration
    font-size: $font-small
    +font-stack
    letter-spacing: $spacing-normal
    +inline-block
    color: shade(white, 25%)
  @if $dark
    color: rgba(white, 0.45)

=collection-item-card-social($background: white)
  background: $background
  $socsh-vatar: 30px
  padding: $card-padding
  &-users
    +inline-block
    font-size: $font-small
    +transition(0.12)
    position: relative
  &-user
    width: $socsh-vatar
    height: $socsh-vatar
    +background_cover
    +border-radius(20px)
    +inline-block
    position: absolute
    +transition(0.12)
    &:nth-child(1)
      left: $socsh-vatar
      z-index: 3
    &:nth-child(2)
      left: $socsh-vatar/2
      z-index: 2
    &:nth-child(3)
      left: 0
      z-index: 1
  &-overview
    +inline-block
    +mon-font
    font-weight: $weight-4
    line-height: 30px
    font-size: $font-smallest
    margin-left: ($socsh-vatar*2 + $pad)
    color: tint($contrast, 45%)
    strong
      font-weight: $weight-7
      color: tint($contrast, 10%)
  &-comments
    float: right
    +inline-block
    font-size: $font-smallest
    +mon-font
    font-weight: $weight-4
    line-height: 30px
    margin-left: $pad/2
    color: tint($contrast, 45%)
    @if $background == white
      .btn-card
        +btn-card($dark: true)
        +inline-block
        &-icon
          +btn-card($dark: true, $icon: true)
    @else
      .btn-card
        +btn-card($dark: false)
        +inline-block
        &-icon
          +btn-card($dark: false, $icon: true)

=collection-item-card-actions($dark: false)
  text-align: right
  position: relative
  padding: $card-padding
  +collection-item-recommend-button($dark)
  +collection-item-save-button($dark)
  .btn-danger
    margin-right: $pad
    border: 2px solid $error
    +mobile-only
      margin-bottom: $pad
      & > span
        display: none
  &.view
    text-align: left

=collection-item-meta
  clear: both
  padding: $pad
  background: $background
  border-radius: 3px
  border: 2px solid #e3e3e3
  margin-bottom: $pad
  h3
    margin-top: 0
  & > div
    margin-bottom: $pad
  .edit-link
    margin-right: $pad
  .topic
    margin-right: $pad/2
    margin-bottom: $pad
  .expanding-label-container
    display: inline
