=appearance($value)
  -webkit-appearance: $value
  -moz-appearance: $value
  appearance: $value


// Placeholder text
=placeholder
  @if $experimental-support-for-webkit
    &::-webkit-input-placeholder
      @content
  @if $experimental-support-for-mozilla
    &:-moz-placeholder
      @content
  @if $experimental-support-for-microsoft
    &:-ms-input-placeholder
      @content


// select image settings
=select-arrow-image-settings
  background-position: 98% 50%, 0 0
  background-repeat: no-repeat, repeat
  background-size: 22px, auto

=text-input-styles($transparent: false)
  height: ($field-height + 2px)
  padding: 0 $pad
  +inline-block
  vertical-align: middle
  border-width: 2px
  border-style: solid
  @if $transparent
    background: alpha-it($white, $opacity-weaker)
    border-color: transparent
  @else
    background: $white
    border-color: $text-gray-2
  +border-radius(4px)
  +text-input-text-style($transparent)
  +text-input-hover($transparent)
  +transition-property(border-color, box-shadow, color)
  +transition-duration(.2s)
  +transition-timing-function(cubic-bezier(.7, 0, .3, 1))
  &:disabled
    background: $text-gray-1
    color: $text-gray-4
    cursor: not-allowed
  &.invalid
    border-color: $error
    color: $error

=text-input-styles-clear
  +text-input-styles(true)
  border-color: transparent
  background: 0
  padding: 0
  height: auto
  &:hover
    border-color: transparent
    box-shadow: none
  &:focus
    border-color: transparent
    box-shadow: none
    &:hover
      border-color: transparent
      box-shadow: none

=textarea-input-styles-clear
  +textarea-input-styles(clear)
  border-color: transparent
  background: 0
  padding: 0
  height: auto
  &:hover
    border-color: transparent
    box-shadow: none
  &:focus
    border-color: transparent
    box-shadow: none
    &:hover
      border-color: transparent
      box-shadow: none
  &:disabled
    background: 0

=textarea-input-styles($transparent: false)
  +text-input-styles($transparent)
  resize: none
  line-height: ($font-base)+4px
  font-size: $font-base
  height: ($field-height)*3
  padding: $pad
  font-weight: bold
  letter-spacing: $spacing-loose
  +placeholder
    font-size: $font-small
    text-transform: none
  &:disabled
    background: $text-gray-1
    color: $text-gray-4
    cursor: not-allowed

=text-input-text-style($transparent)
  font-weight: bold
  font-size: $font-base
  letter-spacing: $spacing-loose
  line-height: 100%
  +placeholder
    +trans-up
    line-height: $field-height/2
    font-size: $font-small
    font-weight: normal
    letter-spacing: $spacing-loose
  @if $transparent
    color: alpha-it($white, $opacity-solid)
    +placeholder
      color: alpha-it($white, $opacity-solid)
    &:hover, &:focus
      color: $white
      +placeholder
        color: $white
  @else
    color: alpha-it($text-gray-10, $opacity-solid)
    +placeholder
      color: alpha-it($text-gray-7, $opacity-solid)
    &:hover, &:focus
      color: $text-gray-10
      +placeholder
        color: $text-gray-7


=text-input-hover($transparent)
  @if $transparent
    &:hover
      outline: 0
      border-color: shade($background, 20%)
    &:focus
      outline: 0
      border-color: $blue
      +box-shadow(0 1px 3px alpha-it($blue, $opacity-base))
      &:hover
        +box-shadow(0 1px 5px alpha-it($blue, $opacity-stronger))
  @else
    &:hover
      outline: 0
      border-color: shade($background, 20%)
    &:focus
      outline: 0
      border-color: $blue
      +box-shadow(0 1px 3px alpha-it($blue, $opacity-base))
      &:hover
        +box-shadow(0 1px 5px alpha-it($blue, $opacity-stronger))

=text-input-reset
  border-color: transparent
  background: 0
  padding: 0
  &:hover
    border-color: none
  &:focus
    border-color: none
    box-shadow: none

// Custom Select
@mixin select($base_color, $border: true, $arrow-color: $blue)
  $data_image: 'data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32px" height="22px"><title>select-arrow</title><g><polygon style="fill:#{$arrow-color};" points="11.898,14.077 2.389,4.066 0.512,5.963 11.898,17.95 23.488,5.963 21.596,4.049 "/></g></svg>' !default
  outline: 0
  border: 0
  text-decoration: none
  height: $field-height
  line-height: $field-height
  width: auto
  +inline-block
  padding: 0 $pad*3 0 $pad
  +border-radius(3px)
  cursor: pointer
  background: url($data_image) $base_color
  +select-arrow-image-settings
  +text-color($base_color, false, true)

  // move?
  font-size: $font-base
  letter-spacing: $spacing-tight
  font-weight: $weight-8
  font-family: +font-stack

  @if $border
    border: 2px solid shade($base_color, 10%)
    height: ($field-height + 2px)
    line-height: ($field-height + 2px)
  @else
    +border-radius(2px)
  &:hover, &:active, &.active
    background: url($data_image) shade($base_color, 10%)
    +select-arrow-image-settings
    +box-shadow(shade($base_color, 20%) 0 2px 0 inset)
    +text-color(shade($base_color, 10%), false , true)
    @if $border
      border: 2px solid shade($base_color, 20%)
  &.active:hover
    background: url($data_image) shade($base_color, 20%)
    +select-arrow-image-settings
    +box-shadow(shade($base_color, 30%) 0 2px 0 inset)
    +text-color(shade($base_color, 20%), false, true)
    @if $border
      border: 2px solid shade($base_color, 30%)
  &.disabled, &.disabled:hover
    cursor: not-allowed
    +opacity(0.7)
    background: url($data_image) $base_color
    +box-shadow(none)
    +text-color($base_color, false, true)


// Style html dropdown like standard dropdown
=html-select($base_color, $arrow: $accent)
  +select($base_color, false)
  padding-right: 50px
  position: relative
  &:after
    color: $arrow
    font-size: 16px
    content: '5'
    +icon-font
    display: block
    right: 7px
    top: -2px
    padding: 0 $pad
    line-height: ($field-height + 5px)
    height: ($field-height + 5px)
    position: absolute
    +rotate(90deg)
    border-bottom: 1px solid shade($base_color, 10%)
  &:hover, &:active, &.active
    &:after
      border-bottom: 1px solid shade($base_color, 20%)
  &.active:hover
    &:after
      border-bottom: 1px solid shade($base_color, 30%)
  &.disabled, &.disabled:hover
    &:after
      border-bottom: 1px solid shade($base_color, 10%)

=onboarding-section-width
  width: 460px
  +media_max_width(460px)
    width: 96%
    margin: 0 2%
