=offscreen
  position: absolute
  left:  -9999px
  top: -9999px
  display: block

=background-size($size: cover)
  -moz-background-size: $size
  -o-background-size: $size
  -webkit-background-size: $size
  background-size: $size

=background_cover
  +background-size(cover)
  background-position: center

=background-placeholder
  transition: background-image 0.3s ease
  background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mN89h8AAtEB5wrzxXEAAAAASUVORK5CYII=)
