
=modal-fullscreen
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0

=modal-dialog-large
  position: fixed
  top: 15%
  left: 15%
  width: 70%
  +mobile-only
    left: 5%
    width: 90%

=modal-dialog-base
  position: fixed
  top: 15%
  left: 25%
  width: 50%
  min-width: 320px
  +mobile-only
    left: 15%
    width: 70%
