<div class="feature-section bg-default-4 pt-13 pt-lg-16 pb-lg-7 stagger-children">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 mb-12 stagger-item">
                <div class="feature-widget d-sm-flex">
                    <div class="widget-icon gr-text-4 text-blue mr-8 mb-7 mb-md-0">
                        <i class="icon-handshake-angle"></i>
                    </div>
                    <div class="content">
                        <h3 class="title gr-text-7 mb-6">Design Leadership</h3>
                        <p class="gr-text-9 gr-text-color-opacity mb-0">Building and scaling high-performing product design & UX teams</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-12 stagger-item">
                <div class="feature-widget d-sm-flex">
                    <div class="widget-icon gr-text-4 text-blue mr-8 mb-7 mb-md-0">
                        <i class="icon-block-question"></i>
                    </div>
                    <div class="content">
                        <h3 class="title gr-text-7 mb-6">Systems Thinking</h3>
                        <p class="gr-text-9 gr-text-color-opacity mb-0">Driving scalable, consistent experiences with modern design systems & product operations</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-12 stagger-item">
                <div class="feature-widget d-sm-flex">
                    <div class="widget-icon gr-text-4 text-blue mr-8 mb-7 mb-md-0">
                        <i class="icon-swap-arrows"></i>
                    </div>
                    <div class="content">
                        <h3 class="title gr-text-7 mb-6">Cross-Disciplinary</h3>
                        <p class="gr-text-9 gr-text-color-opacity mb-0">Fluent in design, engineering, and product—bridging teams to move faster and build smarter</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>