<div class="quote-section">
  <%= image_tag "media/homepage/hero.webp", class: 'hero lazyload hero-image' %>
  <div class="wrap">
    <div class="quote-section-content">
      <p class="quote-section-text large">
        Make it bold.
        Make it clear.
        Make it last.
      </p>
      <p class="quote-section-text">
        From first sketch to launch-ready platform, I turn ambiguity into systems, and systems into momentum.
      </p>
    </div>
  </div>
</div>