<a class="showcase bloom left" href="https://bloomboard.com/">
  <div class="showcase-container">
    <div class="showcase-copy">
      <h3><%= image_tag 'media/companies/bloomboard/Bloomboard.svg', class: 'lazyload' %></h3>
      <div class="showcase-copy-center">
        <h4 class="mb-3">Turning R&D into real products.<h4>
        <p class="mb-3">From prototyping ideas to launching full platforms — helped BloomBoard reimagine how educators grow and get certified.</p>
        <button>Explore <i class="icon-arrow-right"></i></button>
      </div>
    </div>
    <%= image_tag 'media/homepage/bloom-splash.png', class: 'showcase-image lazyload' %>
  </div>
</a>
<h3 class="showcase_quote">&ldquo;Turned early R&D into a real product that powers educator growth nationwide.&rdquo;</h3>