<a class="showcase box" href="https://boxboard.io/">
  <div class="showcase-container">
    <div class="showcase-copy">
      <h3><%= image_tag 'media/companies/boxboard/boxboard-white-logo.svg', class: 'lazyload' %></h3>
      <div class="showcase-copy-center">
        <h4 class="mb-3">Built for the gym. Shaped by design.<h4>
        <p class="mb-3">As Founder and Creator of BoxBoard, I built this CrossFit workout platform from the ground up — design, code, and product strategy. What started as a personal side project is now used by gyms across the U.S., supporting 60,000+ logged scores and over 10,000 workouts.</p>
        <button>Explore <i class="icon-arrow-right"></i></button>
      </div>
    </div>
    <%= image_tag 'media/homepage/boxboard-splash.png', class: 'showcase-image lazyload' %>
  </div>
</a>
<h3 class="showcase_quote">&ldquo;What started as a learning tool is now part of gym routines nationwide.&rdquo;</h3>