<a class="showcase brain" href="#">
  <div class="showcase-container">
    <div class="showcase-copy">
      <h3>Brainspace</h3>
      <div class="showcase-copy-center">
        <h4 class="mb-3">Where design meets machine learning.<h4>
        <p class="mb-3">Helped shape Brainspace and Pure Discovery from the ground up — designing, building, and iterating through 4+ product evolutions.</p>
        <%# <button>Explore -></button> %>
      </div>
    </div>
    <%= image_tag 'homepage/brain-splash.png', class: 'showcase-image lazyload' %>
  </div>
</a>