<a class="showcase brain" href="https://www.revealdata.com/product/brainspace">
  <div class="showcase-container">
    <div class="showcase-copy">
      <h3><%= image_tag 'media/companies/brainspace/Brainspace-white-logo.svg', class: 'lazyload' %></h3>
      <div class="showcase-copy-center">
        <h4 class="mb-3">Where design meets machine learning.<h4>
        <p class="mb-3">Helped shape Brainspace and Pure Discovery from the ground up — designing, building, and iterating through 4+ product evolutions.</p>
        <button>Explore <i class="icon-arrow-right"></i></button>
      </div>
    </div>
    <%= image_tag 'media/homepage/brain-splash.png', class: 'showcase-image lazyload' %>
  </div>
</a>
<h3 class="showcase_quote">&ldquo;I learned that good UX can shape how people think about data.&rdquo;</h3>