<a class="showcase bloom left" href="#">
  <div class="showcase-container">
    <div class="showcase-copy">
      <h3>BloomBoard</h3>
      <div class="showcase-copy-center">
        <h4 class="mb-3">Turning R&D into real products.<h4>
        <p class="mb-3">From prototyping ideas to launching full platforms — helped BloomBoard reimagine how educators grow and get certified.</p>
        <%# <button>Explore -></button> %>
      </div>
    </div>
    <%= image_tag 'homepage/bloom-splash.png', class: 'showcase-image lazyload' %>
  </div>
</a>