<a class="showcase power active" href="/companies/power">
  <div class="showcase-container">
    <div class="showcase-copy">
      <h3><%= image_tag 'media/companies/power/shared/power-logo.svg', class: 'lazyload' %></h3>
      <div class="showcase-copy-center">
        <h4 class="mb-3">Built the team.  Built the system.  Built what's next.<h4>
        <p class="mb-3">Power's first VP of UX. Designed from the inside out — from internal tools to customer apps.</p>
        <button>Explore <i class="icon-arrow-right"></i></button>
      </div>
    </div>
    <%= image_tag 'media/homepage/power-splash.png', class: 'showcase-image lazyload' %>    
  </div>
</a>
<h3 class="showcase_quote">&ldquo;Built for speed, refined through iteration. That mindset still shapes how I work.&rdquo;</h3>