<div class="content-section pt-12 pb-10 bg-default-6 py-xl-25 dark-mode-texts speaking-section">
  <div class="container">
    <div class="row align-items-center justify-content-md-center">
      <div class="col-lg-4 col-md-10">
        <div class="content-text text-center text-lg-left mb-9 mb-lg-0 pr-xl-11">
          <h2 class="title gr-text-5 mb-8">Inspire Your Team with Real-World UX Stories</h2>
          <p class="gr-text-8 mb-9">Looking to energize your team or bring clarity to your design org? I speak on systems thinking, Lean UX, and cross-functional collaboration — always with real-world stories and takeaways.</p>
          <%# <a href="" class="btn btn-primary gr-hover-y">Book Me to Speak</a> %>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="content-img rounded-8">
          <%= image_tag "media/homepage/workshop.webp", class: 'hero lazyload w-100 rounded-8' %>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="stats-wrapper mt-6 mt-md-0 pl-xl-9">
          <div class="single-stat py-6 aos-init aos-animate" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
            <h3 class="title gr-text-5 mb-5">Popular Speaking & Workshops:</h3>
            <p class="gr-text-8">Getting your design system off the ground — and into production</p>
            <p class="gr-text-8">Bringing Lean UX into fast-moving agile environments</p>
            <p class="gr-text-8">Building trust between design, product, and engineering</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>