---
layout: base
title: "Power - Jason Cypret"
description: "8 Years of Design-Led Transformation at Power - A look inside how I helped scale a billion-dollar home remodeling company through UX leadership, systems thinking, and bold product innovation."
permalink: /companies/power/
page_classes: company company-power
---

{% set company = "Power" %}
{% set logo = "media/companies/power/shared/power-logo.svg" %}
{% set title = "8 Years of Design-Led Transformation at Power" %}
{% set description = "A look inside how I helped scale a billion-dollar home remodeling company through UX leadership, systems thinking, and bold product innovation." %}
{% set background_image = "media/homepage/power-splash.png" %}

{% include "companies/shared/hero.njk" %}
{% include "companies/power/playbook.njk" %}
{% include "companies/power/pulse.njk" %}
{% include "companies/power/innovation_lab.njk" %}
{% include "companies/power/big_apps.njk" %}
{% include "companies/power/ux_org.njk" %}
