$max-page-width: 800px
.assessment-form
  +max-width($max-page-width)
  margin: auto
  &-section.heading
    position: relative
    .bb-avatar
      position: absolute
      top: $pad*(-2.5)
      left: $pad*(-7.5)
  &-title
    +mon-font
    font-size: $font-larger - 4px
    color: $text-gray-8
    font-weight: normal
    margin: $pad/2 0 $pad/2 $pad*3
  .completed-assessments
  .assessment
    margin-bottom: $pad
  .card-header
    display: flex
    padding: $pad
    border-bottom: 1px solid $border
    align-items: center
    .title
      flex-grow: 2
      display: flex
      flex-direction: column
      .reviewer-detail
        display: flex
        align-items: center
        *
          margin: 0 $pad
      .recommendation-detail
        margin-left: $pad
        .recommendation.no
          color: $error
        .recommendation.yes
          color: $success
    .collapse
  .card-body
    padding: $pad*2
  .card-footer
    display: flex
    justify-content: center
    padding: $pad $pad*2
    border-top: 1px solid $border
    .rubric
      margin-left: $pad
    .btn
      margin-right: $pad*1.5
    .hidden
      display: none
  .comment
    h4
      margin: $pad/2 0
  .bb-card
    padding: $pad $pad*3
  .assessment-form-section
    padding: $pad 0
    border-bottom: 1px solid $border
    label
      font-size: $font-small
      +trans-up
    .comment-text-area
      width: 100%
    .group.radio-btn
      width: 50%
    .field
      margin: $pad 0
    .card-footer
      text-align: center
      .btn
        margin-right: $pad*1.5
      .hidden
        display: none
  .current-reviewer
    display: flex
    justify-content: center
    margin-top: $pad*2
    &-text
      display: flex
      flex-direction: column
      margin: $pad*1.5 $pad
      p
        margin: 0
      h4
        margin: 0
.un-assigned-form
  max-width: $max-page-width - 100px
  margin: auto

.submission-tab-content
  .assign-btn
    width: 100%
    margin: $pad*5 0
  .outline-radio.negative.active
    background: $error

.rubric-upload
  .remove
    margin-left: $pad

+mobile-only
  .assessment-form .assessment-form-section .group.radio-btn
    width: 100%
