.global-user-list-item
  +inline-block
  width: 100%
  &.expanded
    .list-view-item
      background-color: $white
      border-left: 1px solid $border
      border-right: 1px solid $border
  &-row
    +inline-block
    width: 100%
  &-row.disabled
    .list-view-item
      +stripes($disable-stripe-color-1, $disable-stripe-color-2)
      .item-meta-text
        color: $error
      .item-sub-text
        color: $text-gray-7
      &:hover
        +stripes(lighten($disable-stripe-color-1,1%), lighten($disable-stripe-color-2,1%))
        .item-meta-text
          +inline-block
          opacity: 1
