$header-background: #F9F9F9

.global-user-item-view
  width: 100%
  border-top: 2px solid $border
  border-bottom: 2px solid $border
  border-left: 1px solid $border
  border-right: 1px solid $border
  background: $white
  margin-top: -($pad/2)
  &-header
    display: flex
    flex-flow: row wrap
    min-height: $pad*2.5
    background-color: $header-background
    border-bottom: 1px solid $border
    padding: $pad*1.5 $pad*2

  &-middle
    display: flex
    min-height: $pad*15
    background-color: $white
    padding: $pad*3 $pad*2
    +mobile-only
      flex-direction: column

  &-footer
    display: flex
    min-height: $pad*2.5
    background-color: $white
    border-top: 2px solid $border
    padding: $pad*1.5 $pad*2
    justify-content: center
    &-action-button
      margin-right: $pad*2
      white-space: pre

  &-grade-subjects
    display: flex
    flex-basis: 50%
    flex-wrap: wrap
    align-items: flex-start
    margin-right: $pad
    +mobile-only
      margin-bottom: $pad

  &-orgs
    display: flex
    flex-basis: 50%
    flex-direction: column
    .user-school-list, .user-org-list
      display: flex
      flex-direction: column
