.bb-admin-collection-page
  .row-1
    background: $white
    padding: $pad*1.5 0
    @include container($desktop)
    .form
      @include span(6)
      +mobile_only
        @include span(12)
      .search-bar
        margin: 0
    .text-tab-control
      @include span(6)
      text-align: right
      padding: $pad 0
      +mobile_only
        @include span(12)
        padding: $pad*1.5
        text-align: left
        border-top: 1px solid $border
    
.content-search-results
  @include container($desktop)

.content-search-query
  width: 100%
  background: $white
  border-bottom: 1px solid $border
  
.no-results-msg
  margin: $pad*3 auto
  width: auto
  text-align: center
.content-search-page
  @include container($desktop)
  .list-view-item
    width: 100%
.pagination-control
  text-align: center
  padding: $pad*2.5