.bb-admin-page-home
  .section
    +max-width(1000px)
    margin: 0 auto
    .tile-group-wrapper
      min-height: $pad*20
      .tile-group-item.item
        transition: all 0.1s ease-in-out
        &:hover
          box-shadow: 0 10px 40px alpha-it($black, $opacity-weaker)
          +transform(scale(1.05))
          z-index: $z-1
          border:none
    .title
      text-transform: uppercase
      padding: $pad*2 $pad*4 $pad*2 $pad*2
      letter-spacing: $spacing-looser
      font-weight: $weight-4
      color: $white
      font-size: $font-small
    .items
      padding: 0 $pad*4 $pad*2 $pad*4
      .item
        width: calc(100% / 3)
        padding: $pad*3 $pad*5
        +mobile-only
          width: calc(100% / 2)
          padding: $pad*3 $pad*2
        .icon-tile
          &-title
            +mobile-only
              font-size: $font-base

      .item.coming-soon
        pointer-events: none
        background: alpha-it($black, $opacity-ghost)
        cursor: not-allowed
        .icon-tile
          opacity: $opacity-weaker
        .icon-tile-subtitle
          color: $black
          text-align: center
        &.hidden
          display: none

  @each $section, $color in $admin-tool-colors
    .section-container.#{$section}
      background: $color
      .tile-group-item.item
        &:hover
          background: tint($color, 20%)
