.inline-edit-form
  .field
    &.edit-inline
      label
        cursor: default
      input[type='text'], input[type='email'], input[type='password']
        &:disabled
          border: none
          background: transparent
          padding-left: 0
          cursor: default
          +span(10)
          +placeholder
            color: #000
            text-transform: none
        +span(12)
    &.edit
      &.prefixed-text
        .prefix
          padding: $pad+2 0 0 $pad
          color: #aaa
          background: #fff
          border-left: 2px solid rgb(204, 204, 204)
          float: left
          border-top: 2px solid rgb(204, 204, 204)
          border-bottom: 2px solid rgb(204, 204, 204)
          height: 47px
          border-radius: 4px 0 0 4px
          font-weight: bold
          +mobile_only
            display: none
        input[type='text']
          width: auto !important
          margin-left: 0
          border-left: 0
          padding-left: 0
          border-radius: 0 4px 4px 0
          border-color: rgb(204, 204, 204)
          +mobile_only
            padding-left: 10px
            border-left: 2px solid #ccc
            width: 98% !important
            border-radius: 4px

    .edit-inline
      &-activate
        +font_stack
        font-weight: $weight-4
        text-align: right
        letter-spacing: $spacing-tight
      &-actions
        text-align: center
        input[type='button'], input[type='submit']
          margin-top: $pad*2
          &.btn-success-outline
            margin-right: $pad
