input
  &[type=radio]
    +appearance(none)
    +inline-block
    cursor: pointer
    outline: none
    +border-radius(300px)
    width: $checkbox
    height: $checkbox
    border: $button-border-width solid $text-gray-4
    position: relative
    &:after
      background: $accent
      +border-radius(300px)
      content: ' '
      display: none
      // border - offset
      width: ($checkbox)-(4px * 2)
      height: ($checkbox)-(4px * 2)
      position: absolute
      top: 2px
      left: 2px
    ~ span
      font-size: $font-large
      line-height: $field-height
      color: tint(black, 50%)
      font-weight: $weight-3
    &:checked
      &:after
        display: block
      ~ span
        color: $text-gray-6


// -----------------
// True / False Toggle
// -----------------
.outline-radio
  +btn(white)
  +border-radius(0px)
  +inline-block
  padding: 0
  margin: 0
  text-align: left
  width: 50%
  text-align: center
  border: 1px solid $text-gray-8
  +trans-up
  label
    padding: $pad 0
  &:first-child
    +border-left-radius(4px)
    border-right: 0
  &:last-child
    +border-right-radius(4px)
  input
    +border-radius($button-border-radius)
    border: none
    width: 0
    +transition-property(all)
    +transition-duration(0.1s)
    +transition-timing-function(ease-in)
    margin: 3px 0 0
    ~ span
      margin: 0 $pad/1.5 0 $pad
      line-height: 25px
      color: tint(black, 50%)
      font-weight: normal
      &.icon
        text-transform: none
        font-size: 25px
        position: relative
        top: 0.1em
        +inline-block
    &:checked
      +btn($accent)
      text-transform: none
      padding: 0
      width: $checkbox
      height: $checkbox
      background: none
      +box-shadow(none)
      &:after
        +icon-font
        content: 'o'
        width: 100%
        height: 100%
        text-align: left
        line-height: 1.3em
        font-size: 1.3em
        position: relative
        top: 50%
        color: white
        display: block
        margin-top: -($checkbox / 2)
        background: none
      ~ span
        color: white
  &:hover
    input
      +transition-property(all)
      +transition-duration(0.1s)
      +transition-timing-function(ease-in)
      width: $checkbox
      background: tint(black, 80%)
      ~ span
        color: tint(black, 40%)
      &:checked
        background: none
        +box-shadow(none)
        ~ span
          color: white
  &.active, &.active:hover
    background: $main
    +box-shadow(none)
    border-color: rgba(black, 0.2)
    input
      ~ span
        color: white
