select
  +appearance(none)
  text-indent: .01px
  text-overflow: ''
  +select(shade(white, 1%))


.html-select
  +html-select(shade(white, 1%))


//  React-Select variants
.select-standard
  .Select-control
    border: $button-border-width solid $text-gray-2
    .Select-value
      +mobile-only
        font-size: $font-small

  .Select-clear-zone
    display: none

  .Select-arrow-zone
    vertical-align: top

  &.no-arrow
    .Select-arrow-zone
      display: none

  .Select-item-icon
    color: $white
    border-right: none

  &.is-focused:not(.is-open) > .Select-control
    border: $button-border-width solid $blue

  .Select-value
    background-color: $blue
    border: none
    padding: 0 $pad/2
    border-radius: 100px
    +mobile-only
      font-size: $font-small

    &-icon
      border: none

      &:hover
        background-color: transparent

  &:not(.Select--multi) > .Select-control
    .Select-value
      right: auto
      margin: 5px 0 5px 5px
      line-height: 30px
      .Select-value-label
        color: $white !important
