textarea
  +textarea-input-styles
  &.transparent
    +textarea-input-styles(true)
  &.clear
    +textarea-input-styles-clear
  &.textarea-autosize
    overflow: hidden
    outline: none
    box-shadow: none
    &:focus, &:hover
      outline: none
      box-shadow: none
