.blog-articles {
  color: tint($black, 10%);
  text-align: center;

  .header-subtitle {
    margin: $space_md 0;
  }

  .blog-article {
    border-top: 1px solid shade($white, 10%);
    padding: $space_lg 0;

    &.first {
      border-top: 0;
    }

    .article-image {
      $article-avatar: 80px;
      display: block;
      width: $article-avatar;
      height: $article-avatar;
      margin: 0 auto $space_xs;
      border-radius: $article-avatar;
      img {
        @include background_cover;
        object-fit: cover;
        border-radius: $article-avatar;
        width: $article-avatar;
        height: $article-avatar;
        object-fit: cover;
        display: block;
      }
    }

    .article-title {
      @include reading-mix;
      margin-top: 0;
      margin-bottom: $space_xs;

      a {
        color: tint($black, 10%);
        transition-property: color;
        transition-duration: 0.2s;
        letter-spacing: -0.03em;

        &:hover {
          color: $main;
        }
      }
    }

    .article-summary {
      color: $text_lt_light;
      @include reading-mix;
      @include serif;
      margin-top: 0;
      margin-bottom: $space_xs;
    }

    .article-date {
      @include reading-mix;
      color: $text_lt_lighter;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.03em;
    }
  }
}