.blog-articles
  color: tint(black, 10%)
  text-align: center
  .header-subtitle
    margin: $pad*2 0
  .blog-article
    border-top: 1px solid shade(white, 10%)
    padding: $pad*2 0
    &.first
      border-top: 0
    .article-image
      $article-avatar: 80px
      display: block
      +background_cover
      width: $article-avatar
      height: $article-avatar
      margin: 0 auto $pad/2
      +border-radius($article-avatar)
    .article-title
      +reading-mix
      margin-top: 0
      margin-bottom: $pad/2
      a
        color: tint(black, 10%)
        +transition-property(color)
        +transition-duration(0.2s)
        letter-spacing: -0.03em
        &:hover
          color: $main
    .article-summary
      color: tint(black, 30%)
      +reading-mix
      +serif
      margin-top: 0
      margin-bottom: $pad/2
    .article-date
      +reading-mix
      color: shade(white, 20%)
      text-transform: uppercase
      font-weight: bold
      letter-spacing: 0.03em