// ------------------------------------------
// Article and Blog Post (Not Blog Homepage)
// ------------------------------------------

$content-height: $collection-resource-image-height + $pad*4
.#{$ci-class}-article
  +collection-item-card-settings
  +min_height($content-height)
  &-image
    position: relative
    +background_cover
    +border-top-radius(3px)
    +min_height($content-height)
    &-overlay, &-overlay-edit
      +linear-gradient( rgba(black, 0.2), rgba(black, 0.6) 50%)
      +border-top-radius(3px)
      +min_height($content-height)
    &-edit
      position: absolute
      top: $pad*1.5
      left: $pad
      +mobile-only
        & > span
          display: none

  &-actions
    +collection-item-card-actions(false)

  &-content
    padding: $card-padding
    &.edit
      .item-article-title
        font-size: $font-base
  &-icon
    display: none
  &-title
    +card-title
    margin-bottom: $pad
    display: block
    +collection-item-title-duration
    +collection-item-title-text
    .inline-edit-form
      width: 100%
      float: left
      .edit-inline
        label
          display: none
        &-activate
          float: left
          display: inline-block
          margin-top: $pad
      textarea
        float: left
        margin-right: $pad
        width: 90%

  &-source
    +collection-item-card-source-favi
    +collection-item-card-source-name

  &-description
    &-description
    +collection-item-card-description($dark: true)

  &-social
    +collection-item-card-social($background:transparent)

  &-type
    margin-bottom: $pad*2.5

  &-meta
    +collection-item-meta

  // Overide for no image
  &.no-image
    $shortcut: #{$ci-class}-article
    border: 1px solid $collection-resource-border
    border-width: 1px 1px 0
    .#{$shortcut}-image
      background-image: none
      &-overlay
        background-image: none
        background-color: initial
    .#{$shortcut}-source
      &-name
        color: shade(white, 25%)

    .#{$shortcut}-title
      +card-title(true)
      & .title-duration
        color: shade(white, 25%)

    .#{$shortcut}-description
      color: tint(black, 30%)

    .#{$shortcut}-actions
      .btn-card
        +btn-card($dark: true)
        &-icon
          +btn-card($dark: true, $icon: true)
    .#{$shortcut}-social
      padding: 0 $card-padding $card-padding $card-padding
