// ------------------------------------------
// book
// ------------------------------------------

.#{$ci-class}-book
  +collection-item-card-settings
  +min_height($collection-portrait-image-width * 2)
  position: relative
  &-image
    +background_cover
    width: $collection-portrait-image-width
    height: $collection-portrait-image-height
    float: left
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.4)
    margin-right: $pad * 1.5
    +border-top-radius(2px)
    +border-bottom-radius(2px)
    border: none
    &-overlay
      position: absolute
      width: $collection-portrait-image-width
      height: $collection-portrait-image-height
    &-edit
      position: absolute
      top: $pad*1.5
      left: $pad*1.5
      +mobile-only
        & > span
          display: none
  &-actions
    +collection-item-card-actions(true)

  &-content
    +min_height($collection-portrait-image-width * 2)
    padding: 0 $card-padding $card-padding $card-padding
    &.edit
      .item-book-title
        padding: 0
        font-size: $font-base

  &-title
    +card-title(true)
    padding: $pad*2 0
    display: block
    +collection-item-title-duration($dark:true)
    +collection-item-title-text($dark:true)
    .inline-edit-form
      width: 100%
      float: left
      .edit-inline
        label
          display: none
        &-activate
          float: left
          display: inline-block
          margin-top: $pad
      textarea
        float: left
        margin-right: $pad
        width: 90%

  &-type
    margin-bottom: $pad*3.5

  &-meta
    +collection-item-meta

  &-source
    +collection-item-card-source-favi
    +collection-item-card-source-name

  &-description
    display:none

  &-social
    +collection-item-card-social
