$ci-class: "item"
$card-padding: $pad*1.5
$card-quote-offset: 4px

@import article
@import website
@import book
@import video
@import infographic
@import presentation
@import curator

// COLLECTION ITEMS
.collection-items
  width: $reading_width
  margin: 0 auto
  +media_max_width($reading_width)
    width: auto
  ul
    @import old-article
  @each $type in $collection-item-types
    .collection-item-resource-#{$type}
      position: relative

  &-add
    text-align: center
    h1
      font-weight: $weight-10
      margin-bottom: 0
    p
      color: #999
      font-size: $font-large
      font-weight: $weight-7
      margin: 0 0 $pad*5 0
    &-btn
      cursor: pointer
      margin-bottom: $pad*4
      label
        color: $black
      span[data-icon='a']
        +icon_font
        font-size: $font-jumbo*1.5
        display: block
        margin-bottom: $pad*2
      input[type='url']
        display: block
        width: 100%
      input[type='submit']
        margin-right: $pad

.collection
  &-item
    position: relative

    .save-button
      margin: 0
    .unsaved
      color: $contrast
      border-color: $contrast
      &:hover
        color: $contrast

    &-curator, &-annotate
      margin-bottom: $pad*2
    margin-bottom: $pad

    &-resource-article
      &-title
        &:hover
          color: $blue

    &-cover-edit
      width: $reading_width/2
      text-align: center
      input[type='url']
        width: 100%
