// ------------------------------------------
// infographic
// ------------------------------------------

$content-height: $collection-resource-image-height + $pad*2
.#{$ci-class}-infographic
  +collection-item-card-settings
  +min_height($content-height)
  &-image
    +background_cover
    +min_height($content-height)
    +border-top-radius(3px)
    +min_height($content-height)
    &-overlay
      +min_height($content-height)
      +linear-gradient( rgba(black, 0.2), rgba(black, 0.6) 90%)
      +border-top-radius(3px)
      +min_height($content-height)
  &-actions
    +collection-item-card-actions(false)


  &-content
    +min_height($content-height)
    padding: 0 $card-padding $card-padding $card-padding
    position: relative
    &.edit
      left: 0
      width: 100%
      margin: 0
      transform: translate(0, -25%)
      .item-infographic-title
        font-size: $font-base
        margin-bottom: 0
      .inline-edit-form
        width: 100%
        float: left
        .edit-inline
          label
            display: none
          &-activate
            display: inline-block
            margin-top: $pad
        textarea
          width: 92%
          float: left
          margin-right: $pad

  &-icon
    display: none
  &-source
    display:none
  &-description
    display:none
  &-title
    +card-title
    margin: auto
    margin-bottom: $pad/2
    display: block
    position: absolute
    bottom: 5%
    +collection-item-title-duration
    +collection-item-title-text

  &-social
    +collection-item-card-social

  &-type
    float: left
    margin-right: $pad*2

  &-meta
    +collection-item-meta
