// ------------------------------------------
// presentation
// ------------------------------------------

$content-height: $collection-resource-image-height + $pad*6
.#{$ci-class}-presentation
  +collection-item-card-settings
  +min_height($content-height)
  position: relative
  &.edit
    +min_height($content-height*2)
    .item-video-image
      +min_height($content-height*2)
  &-image
    +background_cover
    +min_height($content-height)
    +border-top-radius(3px)
    +min_height($content-height)
    &-overlay
      +min_height($content-height)
      +linear-gradient( rgba(black, 0.2), rgba(black, 0.6) 50%)
      +border-top-radius(3px)
      position: relative
      &-edit
        +linear-gradient( rgba(black, 0.2), rgba(black, 0.6) 50%)
        +border-top-radius(3px)
        +modal-fullscreen
        +min_height($content-height*1.5)
    &-edit
      position: absolute
      top: $pad*1.5
      left: $pad*1.5
      +mobile-only
        & > span
          display: none

  &-actions
    +collection-item-card-actions(false)


  &-content
    padding: 0 $card-padding $card-padding $card-padding
    position: absolute
    transform: translate(-20%, -35%)
    left: 30%
    top: 50%
    +mobile-only(true)
      transform: translate(0%, -35%)
      left: 5%

    &.edit
      left: 0
      top: $pad*7
      width: 100%
      margin: 0
      transform: translate(0, 0)
      .item-presentation-title
        font-size: $font-base
        margin-bottom: 0
      .inline-edit-form
        width: 100%
        float: left
        .edit-inline
          label
            display: none
          &-activate
            display: inline-block
            margin-top: $pad
        textarea
          width: 92%
          float: left
          margin-right: $pad

  &-source
    $source-size: 12px
    &-favi
      +inline-block
      width: $source-size
      height: $source-size
      margin-right: $pad/2
    &-name
      +inline-block
      line-height: $source-size
      font-size: $font-smaller
      letter-spacing: $spacing-loose
      color: shade(white, 25%)

  &-type
    float: left
    margin: 0 $pad*2 $pad*2 0

  &-meta
    +collection-item-meta

  &-description
    display:none

  &-title-container
    margin-left: $pad*6

  &-icon
    margin: auto
    margin-bottom: 10px
    margin-top: -2px
    display: block
    float: left
    +play-icon

  &-title
    +card-title
    margin-bottom: $pad
    display: block
    +collection-item-title-duration
    +collection-item-title-text

  &-social
    +collection-item-card-social($background:transparent)
