---
title: Icon Set
layout: layout
---

<%= stylesheet_link_tag "icons" %>

    <div class="container">
      <h1>jasonicon</h1>
      <p class="small">This font was created with<a href="http://fontastic.me/">Fontastic</a></p>
      <h2>CSS mapping</h2>
      <ul class="glyphs css-mapping">
        <li>
          <div class="icon icon-arrow-left"></div>
          <input type="text" readonly="readonly" value="arrow-left">
        </li>
        <li>
          <div class="icon icon-dribbble"></div>
          <input type="text" readonly="readonly" value="dribbble">
        </li>
        <li>
          <div class="icon icon-pintrest"></div>
          <input type="text" readonly="readonly" value="pintrest">
        </li>
        <li>
          <div class="icon icon-github"></div>
          <input type="text" readonly="readonly" value="github">
        </li>
        <li>
          <div class="icon icon-arrow-down"></div>
          <input type="text" readonly="readonly" value="arrow-down">
        </li>
        <li>
          <div class="icon icon-arrow-right"></div>
          <input type="text" readonly="readonly" value="arrow-right">
        </li>
        <li>
          <div class="icon icon-block-question"></div>
          <input type="text" readonly="readonly" value="block-question">
        </li>
        <li>
          <div class="icon icon-book-sparkles"></div>
          <input type="text" readonly="readonly" value="book-sparkles">
        </li>
        <li>
          <div class="icon icon-display-chart-up"></div>
          <input type="text" readonly="readonly" value="display-chart-up">
        </li>
        <li>
          <div class="icon icon-handshake-angle"></div>
          <input type="text" readonly="readonly" value="handshake-angle">
        </li>
        <li>
          <div class="icon icon-laptop-code"></div>
          <input type="text" readonly="readonly" value="laptop-code">
        </li>
        <li>
          <div class="icon icon-laptop-mobile"></div>
          <input type="text" readonly="readonly" value="laptop-mobile">
        </li>
        <li>
          <div class="icon icon-swap-arrows"></div>
          <input type="text" readonly="readonly" value="swap-arrows">
        </li>
        <li>
          <div class="icon icon-wand-magic-sparkles"></div>
          <input type="text" readonly="readonly" value="wand-magic-sparkles">
        </li>
      </ul>
      <h2>Character mapping</h2>
      <ul class="glyphs character-mapping">
        <li>
          <div data-icon="a" class="icon"></div>
          <input type="text" readonly="readonly" value="a">
        </li>
        <li>
          <div data-icon="c" class="icon"></div>
          <input type="text" readonly="readonly" value="c">
        </li>
        <li>
          <div data-icon="e" class="icon"></div>
          <input type="text" readonly="readonly" value="e">
        </li>
        <li>
          <div data-icon="b" class="icon"></div>
          <input type="text" readonly="readonly" value="b">
        </li>
        <li>
          <div data-icon="d" class="icon"></div>
          <input type="text" readonly="readonly" value="d">
        </li>
        <li>
          <div data-icon="f" class="icon"></div>
          <input type="text" readonly="readonly" value="f">
        </li>
        <li>
          <div data-icon="g" class="icon"></div>
          <input type="text" readonly="readonly" value="g">
        </li>
        <li>
          <div data-icon="h" class="icon"></div>
          <input type="text" readonly="readonly" value="h">
        </li>
        <li>
          <div data-icon="i" class="icon"></div>
          <input type="text" readonly="readonly" value="i">
        </li>
        <li>
          <div data-icon="j" class="icon"></div>
          <input type="text" readonly="readonly" value="j">
        </li>
        <li>
          <div data-icon="k" class="icon"></div>
          <input type="text" readonly="readonly" value="k">
        </li>
        <li>
          <div data-icon="l" class="icon"></div>
          <input type="text" readonly="readonly" value="l">
        </li>
        <li>
          <div data-icon="m" class="icon"></div>
          <input type="text" readonly="readonly" value="m">
        </li>
        <li>
          <div data-icon="n" class="icon"></div>
          <input type="text" readonly="readonly" value="n">
        </li>
      </ul>
    </div>
    <script>(function() {
  var glyphs, i, len, ref;

  ref = document.getElementsByClassName('glyphs');
  for (i = 0, len = ref.length; i < len; i++) {
    glyphs = ref[i];
    glyphs.addEventListener('click', function(event) {
      if (event.target.tagName === 'INPUT') {
        return event.target.select();
      }
    });
  }

}).call(this);

    </script>