---
title: Jason Cypret
---

.main
  .wrap
    .avatar
    h1 Jason Cypret
    p.desc
      |Full Stack Entrepreneur, UX and Product at 
      a href="http://bloomboard.com" BloomBoard
      |. Founder of 
      a href="http://boxboard.io" BoxBoard
      |, Creator of 
      a href="http://expressionui.com" expressionui
      |, Founder at 
      a href="http://taskk.it" Taskk
      |.
    
    ul.links
      li.tweet
        a.icon href="http://twitter.com/JasonCypret" T
      li.git
        a.icon href="http://github.com/jasoncypret" 2
      li.drib
        a.icon href="http://dribbble.com/jasoncypret" 3
      li.pin
        a.icon href="http://www.pinterest.com/jasoncypret/" 5
    .icon.more.rotate_left.fadeIn -

.blog-articles
  - blog.articles[0...5].each_with_index do |article, i|
    article class="blog-article #{(i == 0) ? 'first' : ''}"
      - if article.data.image
        a.article-image href="#{article.url}" style="background-image: url(#{article.data.image})"
      h1.article-title
        a href="#{article.url}"
          = article.title
      - if article.data.summary
        .article-summary = article.data.summary
      small.article-date = article.date.strftime('%B %e, %Y')
      
      
        
